<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>Basket</p>
        <span class="toolbar-spacer"></span>
        <!--        <p class="small-spacing">Patch Name</p>-->
        <!--        <input matInput type="text" [(ngModel)]="patchName" (blur)="addPatchName()">-->
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            id="previewButton"
            (click)="toggleDisplayDiv()"
        >
            <mat-icon>preview</mat-icon>
        </button>
        <span class="small-spacing"></span>
        <span class="spacing"
            ><small
                ><p>
                    Total Updates: {{ updateCounter }}
                    <span class="small-spacing"></span> Total Deletes:
                    {{ deleteCounter }}
                </p></small
            ></span
        >
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Check History"
            id="TransactionButton"
            *ngIf="opaService.userGroups.includes(AETHER_ROC_ADMIN_USER)"
            (click)="checkHistory()"
        >
            History
        </button>
        <span class="small-spacing"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Commit changes"
            id="commitButton"
            (click)="commitChanges()"
            [disabled]="!opaService.canWrite(undefined)"
        >
            Commit
        </button>
        <span class="small-spacing"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Discard basket"
            id="discardButton"
            (click)="discardAllChanges()"
            [disabled]="!opaService.canWrite(undefined)"
        >
            Discard
        </button>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Updates"
        [dataSource]="data"
        id="basketTable"
    >
        <ng-container matColumnDef="displayPath" id="displayPathColumn">
            <th mat-header-cell *matHeaderCellDef>Path</th>
            <td
                [style]="row.deleted ? 'text-decoration: line-through' : ''"
                mat-cell
                *matCellDef="let row"
            >
                {{ row.displayPath }}
            </td>
        </ng-container>

        <ng-container matColumnDef="oldChangeValue" id="oldValueColumn">
            <th mat-header-cell *matHeaderCellDef>Old Value</th>
            <td
                [style]="row.deleted ? 'text-decoration: line-through' : ''"
                mat-cell
                *matCellDef="let row"
            >
                {{ row.oldValue }}
            </td>
        </ng-container>

        <ng-container matColumnDef="newChangeValue" id="newValueColumn">
            <th mat-header-cell *matHeaderCellDef>New Value</th>
            <td
                [style]="row.deleted ? 'text-decoration: line-through' : ''"
                mat-cell
                *matCellDef="let row"
            >
                {{ row.newValue }}
            </td>
        </ng-container>

        <!-- Delete Column -->
        <!-- TODO: Connect it up -->
        <ng-container matColumnDef="remove" id="removeColumn">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td
                mat-cell
                *matCellDef="let row"
                id="removeRowButton"
                (click)="deletePath(row.path)"
            >
                <mat-icon class="table_icon">delete</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<aether-basket-preview
    id="basketPreviewComponent"
    *ngIf="pbDisplay"
    (closeEvent)="pbDisplay = false"
>
</aether-basket-preview>
<aether-transaction-list
    *ngIf="showTransactionList"
    (closeEvent)="showTransactionList = false"
></aether-transaction-list>
