<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="qosForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>QOS Profile. ID: {{id}}</mat-card-title>
            <mat-form-field *ngIf="isNew" class="half-width">
                <input matInput formControlName="id" id="inputID">
                <mat-hint>ID</mat-hint>
            </mat-form-field>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description" id="inputDesc">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="apn-ambr">
                <mat-label class="subscriber-section">APN AMBR</mat-label>
                <mat-form-field class="field-margin">
                    <input matInput type="number" [matAutocomplete]="auto" formControlName="uplink" id="inputUplink">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of bandwidthOptions | async" [value]="option.megabyte.numerical"
                        id="selectUplinkAutoOption">
                            {{option.megabyte.numerical}}
                            {{option.megabyte.inMb}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Uplink (0..4294967295)</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input matInput type="number" [matAutocomplete]="auto" formControlName="downlink" id="inputDownlink">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of bandwidthOptions | async" [value]="option.megabyte.numerical"
                        id="selectDownlinkAutoOption">
                            {{option.megabyte.numerical}}
                            {{option.megabyte.inMb}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Downlink (0..4294967295)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="qci" id="inputQCI">
                    <mat-hint>QCI (0-85)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="arp">
                <mat-label class="subscriber-section">ARP</mat-label>
                <mat-slide-toggle class="field-margin" formControlName="preemption-capability" id="togglePreemptionCapability">Preemption Capability</mat-slide-toggle>
                <mat-slide-toggle class="field-margin" formControlName="preemption-vulnerability" id="togglePreemptionVulerability">Preemption Vulnerability</mat-slide-toggle>
            </div>
            <div class="row" formGroupName="arp">
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="priority" id="inputPriority">
                    <mat-hint>Priority (0-1000)</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" id="submitButton"
                    [disabled]="!(qosForm.valid && qosForm.touched && opaService.canWrite('/qos-profile/qos-profile[id=' + id + ']'))">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
