<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<mat-card class="card mat-elevation-z8">
    <form #form="ngForm">
        <ngx-ip name="ip"
                [(ngModel)]="value"
                [mode]="mode"
        ></ngx-ip>
        <mat-radio-group name="mode" id="mode" [(ngModel)]="mode">
            <mat-radio-button value="ipv4">IPV4</mat-radio-button>
            <mat-radio-button value="ipv6">IPV6</mat-radio-button>
        </mat-radio-group>
    </form>
    <button
        *ngIf="form.form.valid"
        (click)="emitNewIP(value)"
        (click)="closeCard()">Confirm
    </button>
    <button (click)="closeCard()">Cancel</button>

</mat-card>
