<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="entForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Enterprise ID: {{id}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div formArrayName="connectivity-service" class="subscriber-section">
                <mat-hint>Connectivity Services</mat-hint>
                <mat-icon (click)="showConnectDisplay = true" class="subscriber-pointer">add</mat-icon>
                <div *ngFor="let csForm of connectivityServices.controls; index as i">
                    <mat-form-field class="field-margin half-width">
                        <div [formGroup]="csForm" >
                            <input matInput formControlName="connectivity-service" readonly>
                            <mat-slide-toggle
                                  formControlName="enabled">Enabled</mat-slide-toggle>
                            <mat-icon (click)="deleteFromSelect(csForm.value['connectivity-service'])"
                                      class="pad-left subscriber-pointer">delete</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
            </div>


            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Update</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-connectivity-service-select *ngIf="showConnectDisplay"
    [alreadySelectedCS]="connectivityServiceExists"
    (closeEvent)="csSelected($event)">
</aether-connectivity-service-select>
