<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="entForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Enterprise ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id"
                           placeholder="Please specify an ID"
                           title="This field is mandatory."
                           id="inputID"
                           required>
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea matInput formControlName="description" id="inputDescription"></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div formArrayName="connectivity-service" class="subscriber-section">
                <mat-hint>Connectivity Services</mat-hint>
                <mat-icon (click)="showConnectDisplay = true" class="subscriber-pointer" id="addConnectivityService"
                          color="accent">
                    add
                </mat-icon>
                <div *ngFor="let csForm of connectivityServices.controls; index as i">
                    <mat-form-field class="field-margin half-width">
                        <div [formGroup]="csForm" [id]="csForm.value['connectivity-service']">
                            <input matInput formControlName="connectivity-service" readonly id="inputNewConnectivityService">
                            <mat-slide-toggle
                                formControlName="enabled">Enabled
                            </mat-slide-toggle>
                            <button mat-icon-button
                                    [disabled]="!opaService.canWrite('/enterprise/enterprise[id=' + id + ']/connectivity-service')"
                                    (click)="deleteFromSelect(csForm.value['connectivity-service'])"
                                    color="accent"
                                    id="deleteConnectivityService">
                                <mat-icon class="pad-left subscriber-pointer">delete</mat-icon>
                            </button>
                            <mat-icon class="subscriber-pointer" aria-hidden="false" aria-label="Connectivity Service"
                                      color="primary"
                                      routerLink="/connectivity/connectivity-edit/{{csForm.value['connectivity-service']}}"
                                      id="pointerConnectivityService">launch
                            </mat-icon>
                        </div>
                    </mat-form-field>
                </div>
            </div>


            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit"
                        [disabled]="!(entForm.valid && entForm.value.id && entForm.touched && opaService.canWrite('/enterprise/enterprise'))"
                        id="submitButton">Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-connectivity-service-select
    *ngIf="showConnectDisplay && opaService.canWrite('/enterprise/enterprise[id=' + id + ']/connectivity-service')"
    id="connectivityServiceSelectComponent"
    [alreadySelected]="connectivityServiceExists"
    (closeEvent)="csSelected($event)">
</aether-connectivity-service-select>
