<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">

    <mat-card>
        <mat-card-header>
            <mat-card-title>RBAC Role: {{roleid}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin full-width-table">
                    <input matInput formControlName="description">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="RbacV100targetRbacRolePermission">
                <mat-form-field class="field-margin">
                    <mat-select formControlName="operation">
                        <mat-option *ngFor="let op of ops"
                                    [value]="op">{{op}}</mat-option>
                    </mat-select>
                    <mat-hint>Operation</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let t of types"
                                    [value]="t">{{t}}</mat-option>
                    </mat-select>
                    <mat-hint>Type</mat-hint>
                </mat-form-field>
                <div class="row" formArrayName="leaf-list-noun">
                    <mat-icon class="rbac_icon" (click)="addNoun()">add_circle</mat-icon>
                    <mat-hint>Add Noun</mat-hint>
                    <div class="row" *ngFor="let _ of nounControls.controls; index as i">
                    <mat-form-field class="field-margin full-width-table">
                        <mat-icon class="rbac_icon" (click)="nounControls.removeAt(i)">remove_circle</mat-icon>
                        <input matInput [formControlName]="i">
                        <mat-hint>Noun</mat-hint>
                    </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Update
            </button>
        </mat-card-actions>
    </mat-card>
</form>
