<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="subscriberUeForm" (ngSubmit)="onSubmit()">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Subscriber. UE ID Range: {{ueid}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-label>Name</mat-label>
                <mat-form-field class="field-margin full-width">
                    <input matInput formControlName="ueid">
                    <mat-hint>Subscriber Range</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <!--            &lt;!&ndash;    <mat-form-field appearance="legacy">&ndash;&gt;-->
                <mat-label>Priority</mat-label>
                <mat-slider min="1" max="1000" step="1"
                            formControlName="priority"></mat-slider>
                <mat-hint>1-1000</mat-hint>
                <!--                            </mat-form-field>-->
                <mat-checkbox class="field-margin" formControlName="enabled">Enabled</mat-checkbox>
                <mat-form-field class="field-margin">
                    <input matInput formControlName="requested-apn">
                    <mat-hint>Requested APN</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="AetherV100targetSubscriberUeServingPlmn">
                <mat-label>Serving PLMN:</mat-label>
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="mcc">
                    <mat-hint>MCC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="mnc">
                    <mat-hint>MNC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="tac">
                    <mat-hint>TAC</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="AetherV100targetSubscriberUeProfiles">
                <mat-form-field class="half-width subscriber-section">
                    <mat-select formControlName="apn-profile">
                        <mat-option *ngFor="let apnp of apnProfiles"
                                    [value]="apnp.id">{{apnp.id}} {{apnp.description}}</mat-option>
                    </mat-select>
                    <mat-hint>APN Profile</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="AetherV100targetSubscriberUeProfiles">
                <mat-form-field class="half-width subscriber-section">
                    <mat-select formControlName="qos-profile">
                        <mat-option *ngFor="let qosp of qosProfiles"
                                    [value]="qosp.id">{{qosp.id}} {{qosp.description}}</mat-option>
                    </mat-select>
                    <mat-hint>QOS Profile</mat-hint>
                </mat-form-field>
            </div>
            <div class="row"formGroupName="AetherV100targetSubscriberUeProfiles">
                <mat-form-field class="half-width subscriber-section">
                    <mat-select formControlName="up-profile">
                        <mat-option *ngFor="let upp of upProfiles"
                                    [value]="upp.id">{{upp.id}} {{upp.description}}</mat-option>
                    </mat-select>
                    <mat-hint>UP Profile</mat-hint>
                </mat-form-field>
            </div>
            <mat-label>Access Profiles</mat-label>
            <mat-icon class="subscriber-pointer">add_circle</mat-icon>
            <div class="row"
                 *ngFor="let ap of data?.AetherV100targetSubscriberUeProfiles.ListAetherV100targetSubscriberUeProfilesAccessProfile">
                <mat-icon class="subscriber-pointer">remove_circle</mat-icon>
                <mat-form-field class="half-width subscriber-section">
                    <mat-select [placeholder]="ap['access-profile']">
                        <mat-option *ngFor="let app of accessProfiles"
                                    [value]="app.id">{{app.id}} {{app.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
