<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Service Rule Profile. ID: {{id}}</mat-card-title>
            <mat-form-field *ngIf="isNew" class="half-width">
                <input matInput formControlName="id">
                <mat-hint>ID</mat-hint>
            </mat-form-field>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="charging-rule-name">
                    <mat-hint>Charging Rule Name</mat-hint>
                </mat-form-field>
            </div>
            <table formGroupName="qos">
                <tr formGroupName="aggregate-maximum-bitrate">
                    <td>
                        <mat-label class="subscriber-section width100">Aggregate Maximum Bitrate</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="field-margin">
                            <input matInput type="number" formControlName="uplink">
                            <mat-hint>Uplink (0..4294967295)</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="field-margin">
                            <input matInput type="number" formControlName="downlink">
                            <mat-hint>Downlink (0..4294967295)</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr formGroupName="guaranteed-bitrate">
                    <td>
                        <mat-label class="subscriber-section width100">Guaranteed Bitrate</mat-label>
                    </td>
                    <td>
                        <mat-form-field class="field-margin">
                            <input matInput type="number" formControlName="uplink">
                            <mat-hint>Uplink (0..4294967295)</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="field-margin">
                            <input matInput type="number" formControlName="downlink">
                            <mat-hint>Downlink (0..4294967295)</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr formGroupName="maximum-requested-bandwidth">
                    <td><mat-label class="subscriber-section width100">Maximum Requested Bandwidth</mat-label></td>
                    <td>
                    <mat-form-field class="field-margin">
                        <input matInput type="number" formControlName="uplink">
                        <mat-hint>Uplink (0..4294967295)</mat-hint>
                    </mat-form-field>
                    </td>
                    <td>
                    <mat-form-field class="field-margin">
                        <input matInput type="number" formControlName="downlink">
                        <mat-hint>Downlink (0..4294967295)</mat-hint>
                    </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="row" formGroupName="qos">
                    <mat-form-field class="field-margin">
                        <input matInput type="number" formControlName="qci">
                        <mat-hint>QCI (0-85)</mat-hint>
                    </mat-form-field>
            </div>
            <div formGroupName="qos">
                <div formGroupName="arp" class="row">
                    <mat-label class="subscriber-section">ARP</mat-label>
                    <mat-form-field class="field-margin">
                        <input matInput type="number" formControlName="priority">
                        <mat-hint>Priority (0-1000)</mat-hint>
                    </mat-form-field>
<!--                    <mat-form-field class="field-margin">-->
                        <mat-slide-toggle formControlName="preemption-vulnerability">Vulnerability </mat-slide-toggle>
<!--                    </mat-form-field>-->
<!--                    <mat-form-field class="field-margin">-->
                        <mat-slide-toggle formControlName="preemption-capability"> Capability</mat-slide-toggle>
<!--                    </mat-form-field>-->
                </div>
            </div>
            <div class="row" formGroupName="flow">
                <mat-label class="subscriber-section">Flow</mat-label>
                <mat-form-field class="half-width field-margin">
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" formControlName="specification"> </textarea>
                    <mat-hint>Specification</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="!opaService.canWrite('/service-rule/service-rule[id=' + id + ']')">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
