<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->

<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>IP DOMAIN</p>
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Add IP Domain"
            id="addNewIPDomainButton"
            [disabled]="
                !opaService.canWrite('/ip-domain/ip-domain/[ent-id= newentinstance]/[site-id=newentsiteinstance]/[id=newinstance]')
            "
            routerLink="/ipdomain/ipdomain-edit/newentinstance/newentsiteinstance/newinstance"
        >
            Add
        </button>
    </mat-toolbar>

    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="ipDomTable"
    >
        <!--        ID Column-->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row['display-name'] !== undefined" [title]="row['ip-id']"
                    >{{ row["display-name"] }} <br /><small
                        >({{ row['ip-id'] }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row['ip-id']
                }}</span>
            </td>
        </ng-container>

        <!--Description Column-->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let row" [title]="row.description">
                {{ row.description | truncateText: 40 }}
            </td>
        </ng-container>

        <!-- Enterprise Column-->
        <ng-container matColumnDef="enterprise" id="enterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Enterprise
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row['ent-id'] }}
                <mat-icon
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Enterprise"
                    routerLink="/enterprise/enterprise-edit/{{
                        row['ent-id']
                    }}"
                    >launch
                </mat-icon>
            </td>
        </ng-container>

        <!-- DNS Column -->
        <ng-container matColumnDef="dns" id="dnsColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                DNS
            </th>
            <td mat-cell *matCellDef="let row">
                <p>Pri: {{ row["dns-primary"] }}</p>
                <p>Sec: {{ row["dns-secondary"] }}</p>
            </td>
        </ng-container>

        <!-- Subnet Column -->
        <ng-container matColumnDef="subnet" id="subnetColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subnet</th>
            <td mat-cell *matCellDef="let row">{{ row.subnet }}</td>
        </ng-container>

        <!-- Admin Status Column -->
        <ng-container matColumnDef="admin-status" id="adminStatusColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Admin Status
            </th>
            <td mat-cell *matCellDef="let row">{{ row["admin-status"] }}</td>
        </ng-container>

        <!-- MTU Column -->
        <ng-container matColumnDef="mtu" id="mtuColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MTU</th>
            <td mat-cell *matCellDef="let row">{{ row.mtu }}</td>
        </ng-container>

        <!-- DNN Column -->
        <ng-container matColumnDef="dnn" id="dnnColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DNN</th>
            <td mat-cell *matCellDef="let row">{{ row.dnn }}</td>
        </ng-container>

        <!-- Edit Column -->
        <!-- TODO: Connect it up -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Edit
            </th>
            <td
                mat-cell
                *matCellDef="let row"
                routerLink="/ipdomain/ipdomain-edit/{{ row['ip-id'] }}"
                id="editButton"
            >
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Usage/delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Usage/delete
            </th>
            <td mat-cell *matCellDef="let row">
                <button
                    *ngIf="!checkForUsage(row['ip-id'])"
                    mat-icon-button
                    [disabled]="
                        !opaService.canWrite(
                            '/ipdomain/ipdomain[id=' + row.id + ']'
                        )
                    "
                    (click)="delete(row['ip-id'])"
                    color="accent"
                    id="deleteButton"
                >
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
                <button
                    *ngIf="checkForUsage(row['ip-id'])"
                    mat-icon-button
                    id="usageButton"
                    (click)="showUsage(row['ip-id'])"
                    color="accent"
                >
                    <mat-icon class="table_icon">assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Usage Column -->
        <ng-container matColumnDef="usage" id="usageColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Usage
            </th>
            <td mat-cell *matCellDef="let row"></td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #paginator
        id="ipDomPaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 40]"
    >
    </mat-paginator>
</div>
<aether-show-device-group-usage
    *ngIf="showUsageCard"
    id="showParentModulesComponent"
    [ipDomainID]="id"
    (closeShowParentCardEvent)="closeShowParentCard()"
>
</aether-show-device-group-usage>
