<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
    <p>Site</p>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="accent" type="submit" aria-label="Add site"
            id="addNewSiteButton"
            [disabled]="!opaService.canWrite('/site/site[id=newinstance]')"
            routerLink="/site/site-edit/newinstance">Add</button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort aria-label="Elements" id="siteTable">
            <!-- Id/Name Column -->
            <ng-container matColumnDef="id" id="nameColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row['display-name'] !== undefined" [title]="row.id">{{row['display-name']}}<br><small>({{row.id}})</small></span>
                    <span *ngIf="row['display-name'] === undefined">{{row.id}}</span>
                </td>
            </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell  *matCellDef="let row" [title]="row.description">{{row.description | truncateText:20}}</td>
        </ng-container>

        <!-- Enterprise Column -->
        <ng-container matColumnDef="enterprise" id="EnterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise</th>
            <td mat-cell *matCellDef="let row">
                {{row.enterprise}}
                <mat-icon class="table_icon small_icon" color="primary" aria-hidden="false" aria-label="Enterprise"
                              id="pointerConnectivityService"
                              routerLink="/enterprise/enterprise-edit/{{row.enterprise}}">launch</mat-icon>
            </td>
        </ng-container>

        <!--MCC Column-->
        <ng-container matColumnDef="mcc" id="MccColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MCC</th>
            <td mat-cell *matCellDef="let row">
                {{row['imsi-definition'].mcc}}
            </td>
        </ng-container>

        <!--MNC Column-->
        <ng-container matColumnDef="mnc" id="MncColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MNC</th>
            <td mat-cell *matCellDef="let row">
                {{row['imsi-definition'].mnc}}
            </td>
        </ng-container>

        <!--enterprise ID Column-->
        <ng-container matColumnDef="enterpriseID" id="EnterpriseIDColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise ID</th>
            <td mat-cell *matCellDef="let row">
                {{row['imsi-definition'].enterprise}}
            </td>
        </ng-container>

        <!--Format Column-->
        <ng-container matColumnDef="format" id= "FormatColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Format</th>
            <td mat-cell *matCellDef="let row">
                {{row['imsi-definition'].format}}
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/site/site-edit/{{row.id}}" id="editSiteButton">
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [disabled]="!opaService.canWrite('/site/site[id=' + row.id + ']')"
                        (click)="delete(row.id)"
                        color="accent"
                        id="deleteSiteButton">
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row class="profile-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator id="sitePaginator"
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
