<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="selectForm">
    <mat-card class="card mat-elevation-z8">
        <mat-card-header class="header">
            <mat-card-title class="subheading-1 title"
                >Choose Connectivity-Service</mat-card-title
            >
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field>
                <mat-label>Connectivity Service</mat-label>
                <mat-select
                    formControlName="select-item"
                    id="selectNewConnectivityService"
                >
                    <mat-option
                        *ngFor="let item of this.displayList"
                        (click)="closeCard(item.id)"
                    >
                        {{ item.id }}
                        <span *ngIf="item['display-name']">
                            ({{ item["display-name"] }})</span
                        >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="field-margin">
            <button
                mat-raised-button
                color="accent"
                (click)="closeCard('')"
                id="cancelButton"
            >
                Cancel
            </button>
        </mat-card-actions>
    </mat-card>
</form>
