<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="tempForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Template ID:
                {{ this.tempForm.get("template-id").value }}</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input
                        matInput
                        formControlName="template-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="half-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="newEnterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="let eachEnterprise of enterprises"
                        [value]="eachEnterprise.enterpriseId"
                        >{{ eachEnterprise.enterpriseId }}
                        {{ eachEnterprise.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="defaultBehaviorRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        [matAutocomplete]="auto"
                        id="inputDefaultBehavior"
                        formControlName="default-behavior"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                            *ngFor="let option of defaultBehaviorOpitons"
                            [value]="option"
                        >
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Default Behavior</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="sdRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="sd"
                        id="inputSd"
                        [title]="sdAsInt(tempForm.get('sd').value)"
                    />
                    <mat-hint
                        >SD (Slice differentiator - 6 hex characters)</mat-hint
                    >
                </mat-form-field>
            </div>
            <div class="row" id="sstRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        type="number"
                        formControlName="sst"
                        id="inputSst"
                    />
                    <mat-hint>SST (Slice/Service type 1-255)</mat-hint>
                </mat-form-field>
            </div>
            <div id="mbrRow" class="subscriber-section">
                <mat-hint> Maximum bitrate</mat-hint>
                <div [formGroup]="mbrControls">
                    <div class="row float-left" id="uplinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="uplinkAuto"
                                id="inputUplink"
                                formControlName="uplink"
                            />
                            <mat-autocomplete #uplinkAuto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.numerical }}
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="downlinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="downlinkAuto"
                                id="inputDownlink"
                                formControlName="downlink"
                            />
                            <mat-autocomplete #downlinkAuto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.numerical }}
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row float-left" id="UplinkBurstSizeRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="burstauto"
                                id="inputUplinkBurstSize"
                                formControlName="uplink-burst-size"
                            />
                            <mat-autocomplete #burstauto="matAutocomplete">
                                <mat-option
                                    *ngFor="let option of burstRateOptions"
                                    [value]="option.value"
                                >
                                    {{ option.label }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink Burst Size (bytes)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="DownlinkBurstSizeRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="burstauto"
                                id="inputDownlinkBurstSize"
                                formControlName="downlink-burst-size"
                            />
                            <mat-autocomplete #burstauto="matAutocomplete">
                                <mat-option
                                    *ngFor="let option of burstRateOptions"
                                    [value]="option.value"
                                >
                                    {{ option.label }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink Burst Size (bytes)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                id="submitButton"
                [disabled]="
                    !(
                        tempForm.valid &&
                        tempForm.touched &&
                        opaService.canWrite('/template/template[id=' + id + ']')
                    )
                "
            >
                Update
            </button>
        </mat-card-actions>
    </mat-card>
</form>
