<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form class="roc-edit-form" [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Device:
                {{ this.deviceForm.get("device-id").value }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="full-width field-margin">
                    <input
                        matInput
                        formControlName="device-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="full-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterpriseService.enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="enterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="
                            let eachEnterprise of enterpriseService.enterprises
                        "
                        [value]="eachEnterprise"
                        (onSelectionChange)="sitesOfEnterprise($event)"
                        >{{ eachEnterprise.name }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div
                class="full-width field-margin"
                id="siteRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="sites.length === 0"
                    >No Site available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectSite"
                    [(value)]="siteId"
                    placeholder="Please select a Site"
                    (selectionChange)="loadSimCards()"
                >
                    <mat-option
                        *ngFor="let eachSite of sites"
                        [value]="eachSite.siteID"
                        >{{ eachSite.siteID }}
                        {{ eachSite.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Site</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="siteRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br /><mat-hint>Site</mat-hint>:&nbsp;{{
                        route.snapshot.params["site-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="imeiRow">
                <mat-form-field class="field-margin full-width">
                    <input matInput formControlName="imei" id="inputImei" />
                    <mat-hint>IMEI (14-16 digits)</mat-hint>
                </mat-form-field>
            </div>
            <!--SimCard dropdown-->
            <div class="row">
                <mat-form-field class="field-margin full-width">
                    <mat-label *ngIf="simCards.length === 0"
                        >No SimCards available</mat-label
                    >
                    <mat-select formControlName="sim-card" id="selectSimCard">
                        <mat-option
                            *ngFor="let eachSimCard of simCards"
                            [value]="eachSimCard['sim-id']"
                            >{{ eachSimCard["sim-id"] }}
                            {{ eachSimCard["display-name"] }}</mat-option
                        >
                        <mat-option [value]="''"> None </mat-option>
                    </mat-select>
                    <mat-hint>Sim Card</mat-hint>
                </mat-form-field>
            </div>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="
                    !(
                        deviceForm.valid &&
                        deviceForm.touched &&
                        opaService.canWrite('/device/device') &&
                        siteId !== unknownSite &&
                        enterpriseId.name !== unknownEnterprise
                    )
                "
                id="submitButton"
            >
                Update
            </button>
        </mat-card-content>
    </mat-card>
</form>

<div>
    <button routerLink="/device" mat-raised-button color="primary">Back</button>
</div>
<aether-show-device-group-usage
    *ngIf="showParentDisplay"
    id="showDeviceGroupUsageComponent"
    [enterpriseID]="{ name: route.snapshot.params['enterprise-id'] }"
    [siteID]="route.snapshot.params['site-id']"
    [deviceID]="deviceId"
    (closeShowParentCardEvent)="closeShowParentCard()"
>
</aether-show-device-group-usage>
