<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="endpointForm" (ngSubmit)="closeCard(false)">
    <mat-card class="card mat-elevation-z8">
        <mat-card-header class="header">
            <mat-card-title class="subheading-1 title">Add Endpoint</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field class="field-margin">
                <input matInput formControlName="name"
                       title="This field is mandatory."
                       placeholder="Please specify a Name"
                       id="inputName" required>
                <mat-hint>Name</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-margin ">
                <input matInput formControlName="address"
                       title="This field is mandatory."
                       placeholder="Please specify an Address"
                       id="inputAddress" required>
                <mat-hint>Address</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-margin ">
                <input matInput type=number formControlName="port-start"
                       title="This field is mandatory."
                       placeholder="Please specify a starting Port"
                       id="inputPortStart" required>
                <mat-hint>Port Start</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-margin ">
                <input matInput type=number formControlName="port-end" id="inputPortEnd">
                <mat-hint>Port End</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-margin ">
                <mat-select formControlName="protocol"
                            id="selectProtocol">
                    <mat-option
                        *ngFor="let eachProtocol of protocolOptions"
                        [value]="eachProtocol.name">{{eachProtocol.name}}</mat-option>
                </mat-select>
                <mat-hint>Protocol</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="button" (click)="closeCard(true)"
                    id="cancelButton">Cancel
            </button>
            <button
                [disabled]="!(endpointForm.valid && (endpointForm.errors?.isEndpointNotValid === null) && endpointForm.touched )"
                mat-raised-button color="accent"
                type="submit"
                id="submitButton">Add
            </button>
        </mat-card-actions>
    </mat-card>
</form>
