<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<p>Access Profiles</p>
<table>
    <thead>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Filter</th>
    </thead>
    <tbody>
        <tr *ngFor="let ap of accessProfiles | keyvalue">
            <td>{{ap.key}}</td>
            <td>{{ap.value.description}}</td>
            <td>{{ap.value.type}}</td>
            <td>{{ap.value.filter}}</td>
        </tr>
    </tbody>

</table>
<p>Qos Profiles</p>
<table>
    <thead>
    <th>ID</th>
    <th>Description</th>
    <th>Type</th>
    <th>Filter</th>
    </thead>
    <tbody>
    <tr *ngFor="let qp of qosProfiles | keyvalue">
        <td>{{qp.key}}</td>
        <td>{{qp.value.description}}</td>
        <td>{{qp.value.AetherV100targetQosProfileQosProfileApnAmbr?.uplink}}</td>
        <td>{{qp.value.AetherV100targetQosProfileQosProfileApnAmbr?.downlink}}</td>

    </tbody>

</table>
<p>Apn Profiles</p>
<table>
    <thead>
    <th>ID</th>
    <th>APN Name</th>
    <th>Description</th>
    <th>Primary DNS</th>
    <th>Secondary DNS</th>
    <th>MTU</th>
    <th>GX enabled</th>
    </thead>
    <tbody>
    <tr *ngFor="let ap of apnProfiles | keyvalue">
        <td>{{ap.key}}</td>
        <td>{{ap.value['apn-name']}}</td>
        <td>{{ap.value.description}}</td>
        <td>{{ap.value['dns-primary']}}</td>
        <td>{{ap.value['dns-secondary']}}</td>
        <td>{{ap.value.mtu}}</td>
        <td>{{ap.value['gx-enabled']}}</td>
    </tbody>

</table>
<p>Up Profiles</p>
<table>
    <thead>
    <th>ID</th>
    <th>Description</th>
    <th>Access Control</th>
    <th>UserPlane</th>
    </thead>
    <tbody>
    <tr *ngFor="let ap of upProfiles | keyvalue">
        <td>{{ap.key}}</td>
        <td>{{ap.value.description}}</td>
        <td>{{ap.value['access-control']}}</td>
        <td>{{ap.value['user-plane']}}</td>
    </tbody>

</table>
<p>Subscribers</p>
<table border="1">
    <thead>
    <th>UEID</th>
    <th>Priority</th>
    <th>Enabled</th>
    <th>Requested APN</th>
    <th>MCC</th>
    <th>MNC</th>
    <th>TAC</th>
    <th>APN</th>
    <th>UP</th>
    <th>QOS</th>
    <th>ACCESS</th>
    </thead>
    <tbody>
    <tr *ngFor="let ue of subscriberUes | keyvalue">
        <td>{{ue.key}}</td>
        <td>{{ue.value.priority}}</td>
        <td>{{ue.value.enabled}}</td>
        <td>{{ue.value['requested-apn']}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeServingPlmn?.mcc}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeServingPlmn?.mnc}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeServingPlmn?.tac}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeProfiles['apn-profile']}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeProfiles['up-profile']}}</td>
        <td>{{ue.value.AetherV100targetSubscriberUeProfiles['qos-profile']}}</td>
        <td *ngFor="let ap of ue.value.AetherV100targetSubscriberUeProfiles.ListAetherV100targetSubscriberUeProfilesAccessProfile">
            {{ap['access-profile']}}: {{ap['allowed']}}<br>
        </td>
    </tbody>

</table>
