<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<mat-card class="card mat-elevation-z8" (click)="keepCardOpen(false)">
    <mat-card-header class="header">
        <mat-card-title class="subheading-1 title"
            >Usage in Device group(s) & Application(s) &
            Slice(s)</mat-card-title
        >
    </mat-card-header>
    <mat-card-content class="content">
        <table
            mat-table
            class="usage-table"
            matSort
            aria-label="Elements"
            id="ApplicationDGTable"
        >
            <!-- Type Column -->
            <ng-container matColumnDef="type" id="typeColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.type }}
                </td>
            </ng-container>

            <!-- IDs Column -->
            <ng-container matColumnDef="ids" id="attrNamesColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Enterprise, Site, Id
                </th>
                <td class="spacing" mat-cell *matCellDef="let row">
                    {{ row.ids }}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="display-name" id="nameColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td class="spacing" mat-cell *matCellDef="let row">
                    {{ row["display-name"] }}
                    <mat-icon
                        class="table_icon small_icon icon-pointer"
                        aria-hidden="false"
                        aria-label="Slice"
                        color="primary"
                        id="pointerVcs"
                        [routerLink]="routeCalc(row)"
                        >launch
                    </mat-icon>
                </td>
            </ng-container>

            <tr
                mat-header-row
                class="profile-header"
                *matHeaderRowDef="displayColumns"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="field-margin">
        <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="keepCardOpen(false)"
            id="cancelButton"
        >
            Close
        </button>
    </mat-card-actions>
</mat-card>
