<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>DASHBOARD</p><span class="toolbar-spacer"></span>
    </mat-toolbar>
    <aether-panel-vcs [top]="150" [left]="0" [width]="(innerWidth/2)-20"></aether-panel-vcs>
    <aether-panel-alerts [top]="150" [left]="(innerWidth/2)" [width]="(innerWidth/2)-20" [height]="innerHeight-150"></aether-panel-alerts>
</div>
