<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div >
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>DASHBOARD ({{innerWidth}}x{{innerHeight}} Under construction
        <mat-icon aria-hidden="false" aria-label="Construction"
                  id="pointerUpf"
                  >construction</mat-icon>)</p>
        <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <aether-panel-vcs [top]="200" [left]="100" [width]="innerWidth/2" [height]="400"></aether-panel-vcs>
</div>
