<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form class="roc-edit-form" [formGroup]="simCardForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Sim Card:
                {{ this.simCardForm.get("sim-id").value }}</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="full-width field-margin">
                    <input
                        matInput
                        formControlName="sim-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="full-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterpriseService.enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="enterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="
                            let eachEnterprise of enterpriseService.enterprises
                        "
                        [value]="eachEnterprise"
                        (onSelectionChange)="sitesOfEnterprise($event)"
                        >{{ eachEnterprise.name }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div
                class="full-width field-margin"
                id="siteRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="sites.length === 0"
                    >No Site available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectSite"
                    [(value)]="siteId"
                    placeholder="Please select a Site"
                >
                    <mat-option
                        *ngFor="let eachSite of sites"
                        [value]="eachSite.siteID"
                        >{{ eachSite.siteID }}
                        {{ eachSite.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Site</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="siteRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br /><mat-hint>Site</mat-hint>:&nbsp;{{
                        route.snapshot.params["site-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="iccidRow">
                <mat-form-field class="field-margin full-width">
                    <input matInput formControlName="iccid" id="inputIccid" />
                    <mat-hint
                        >ICCID (19-22 digits, last can be
                        alphanumeric)</mat-hint
                    >
                </mat-form-field>
            </div>
            <div class="row" id="imsiRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="imsi"
                        type="number"
                        id="inputImsi"
                    />
                    <mat-hint>IMSI</mat-hint>
                </mat-form-field>
            </div>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="
                    !(
                        simCardForm.valid &&
                        simCardForm.touched &&
                        opaService.canWrite('/sim-card/sim-card') &&
                        siteId !== unknownSite &&
                        enterpriseId.name !== unknownEnterprise
                    )
                "
                id="submitButton"
            >
                Update
            </button>
        </mat-card-content>
    </mat-card>
</form>
<div>
    <button routerLink="/sim-card" mat-raised-button color="primary">
        Back
    </button>
</div>
