<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div
    class="card"
    [style]="
        'width:' +
        width +
        'px;height:' +
        height +
        'px;top:' +
        top +
        'px;left:' +
        left +
        'px'
    "
>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>VCS ({{ dataSource.data.length }})</p>
        <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="vcsTable"
        [style]="'height:' + (height - 120) + 'px'"
    >
        <!-- Id/Name Column -->
        <ng-container matColumnDef="id" id="nameColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            ></th>
            <td mat-cell *matCellDef="let row" class="spacing">
                <span *ngIf="row['display-name'] !== undefined" [title]="row.id"
                    >{{ row["display-name"] }}<br /><small
                        >({{ row.id }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row.id
                }}</span>
            </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            ></th>
            <td
                mat-cell
                class="spacing"
                *matCellDef="let row"
                [title]="row.description"
            >
                {{ row.description | truncateText: 20 }}
            </td>
        </ng-container>
        <ng-container matColumnDef="active" id="activeColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            >
                Active
            </th>
            <td mat-cell *matCellDef="let row" class="spacing">
                {{ row.vcs_active[row.id] | number: "1.2" }}
            </td>
        </ng-container>
        <ng-container matColumnDef="inactive" id="inactiveColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            >
                Inactive
            </th>
            <td mat-cell *matCellDef="let row" class="spacing">
                {{ row.vcs_inactive[row.id] | number: "1.2" }}
            </td>
        </ng-container>
        <ng-container matColumnDef="idle" id="idleColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            >
                Idle
            </th>
            <td mat-cell *matCellDef="let row" class="spacing">
                {{ row.vcs_idle[row.id] | number: "1.0" }}
            </td>
        </ng-container>
        <ng-container matColumnDef="monitor" id="monitorColumn">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="spacing"
            ></th>
            <td
                mat-cell
                class="icon-pointer"
                *matCellDef="let row"
                routerLink="/vcs/vcs-monitor/{{ row.id }}"
                id="monitorVcsButton"
            >
                <mat-icon class="table_icon" color="accent">insights</mat-icon>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #paginator
        id="vcsPaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="4"
        [pageSizeOptions]="[5, 10, 20]"
    >
    </mat-paginator>

    <!--    <iframe src="/grafana/d-solo/vcs_starbucks_newyork_cameras/slice-new-york-cameras?orgId=3&theme=light&panelId=2" width="{{width}}" height="200" frameborder="0"></iframe>-->
    <div *ngIf="performanceMetricsEnabled">
        <iframe
            *ngIf="panelUrl"
            [src]="panelUrl | safe"
            width="{{ width }}"
            height="200"
            frameborder="0"
        ></iframe>
        <p *ngIf="!panelUrl">
            <mat-icon color="primary">auto_graph</mat-icon> No chart available
        </p>
    </div>
</div>
