<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>TRAFFIC CLASS</p>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent" type="submit" aria-label="Add traffic-class"
                id="addTrafficClassButton"
                [disabled]="!opaService.canWrite('traffic-class/traffic-class[id=newinstance]')"
                routerLink="/traffic-class/traffic-class-edit/newinstance">Add
        </button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort aria-label="Elements" id="trafficClassTable">
        <!-- Id Column -->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row['display-name'] !== undefined" [title]="row.id">{{row['display-name']}}<br><small>({{row.id}})</small></span>
                <span *ngIf="row['display-name'] === undefined">{{row.id}}</span>
            </td>
        </ng-container>

        <!-- Description Name Column -->
        <ng-container matColumnDef="description" id="descriptionColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell  *matCellDef="let row" [title]="row.description">{{row.description | truncateText:50}}</td>
        </ng-container>

        <!-- PDB Column -->
        <ng-container matColumnDef="arp" id="arpColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ARP</th>
            <td mat-cell class="small-spacing" *matCellDef="let row">{{row.arp}}</td>
        </ng-container>

        <!-- QCI Column -->
        <ng-container matColumnDef="qci" id="qciColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>QCI</th>
            <td mat-cell class="small-spacing" *matCellDef="let row">{{row.qci}}</td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/traffic-class/traffic-class-edit/{{row.id}}" id="editButton">
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        id="deleteButton"
                        [disabled]="!opaService.canWrite('/traffic-class/traffic-class[id=' + row.id + ']')"
                        (click)="delete(row.id)"
                        color="accent"
                        id="deleteTrafficClassButton">
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row class="profile-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator id="trafficClassPaginator"
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
