<!--
~ SPDX-FileCopyrightText: 2022-present Intel Corporation
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form
    class="roc-edit-form"
    [formGroup]="switchModelForm"
    (ngSubmit)="onSubmit()"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Switch Model ID:
                {{
                    this.switchModelForm.get("switch-model-id").value
                }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="full-width field-margin">
                    <input
                        matInput
                        formControlName="switch-model-id"
                        placeholder="Please specify an ID"
                        title="This field is mandatory."
                        id="inputID"
                        required
                    />
                    <mat-hint>Name (ID)</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="full-width field-margin"
                id="fabricRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="fabricService.enterprises.length === 0"
                    >No Fabric available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectFabric"
                    [(value)]="targetId"
                    placeholder="Please select an Fabric"
                >
                    <mat-option
                        *ngFor="let eachFabric of fabricService.enterprises"
                        [value]="eachFabric"
                        >{{ eachFabric.name }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Fabric</small></mat-hint>
            </div>
            <div class="row" id="fabricRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br /><mat-hint>Fabric</mat-hint>:&nbsp;{{
                        route.snapshot.params["fabric-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="pipelineRow">
                <mat-form-field class="field-margin">
                    <mat-select id="selectRole" formControlName="pipeline">
                        <mat-option
                            *ngFor="let eachPipeline of pipelineOptions"
                            [value]="eachPipeline"
                            >{{ eachPipeline }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Pipeline</mat-hint>
                </mat-form-field>
            </div>
            <div
                formArrayName="attribute"
                class="field-margin subscriber-section"
            >
                <mat-divider></mat-divider>
                <mat-hint>Attribute(s)</mat-hint>
                <mat-icon
                    class="subscriber-pointer"
                    id="addAttribute"
                    color="accent"
                    (click)="displaySelectAttribute = true"
                    >add
                </mat-icon>
                <div
                    *ngFor="
                        let attributeForm of attributeControls.controls;
                        let i = index
                    "
                    class="row"
                >
                    <div
                        [formGroup]="attributeForm"
                        [id]="attributeForm.value['attribute-key']"
                    >
                        <div class="float-left">
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    readonly
                                    formControlName="attribute-key"
                                    id="inputAttributAttributeKey"
                                />
                                <mat-hint>Attribute Key</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="value"
                                    id="inputAttributeValue"
                                />
                                <mat-hint>Value</mat-hint>
                            </mat-form-field>
                            <button
                                mat-icon-button
                                color="accent"
                                [disabled]="
                                    !opaService.canWrite(
                                        '/switch/switch[switch-id={{id}}]'
                                    )
                                "
                                (click)="
                                    deleteAttrFromSelect(
                                        attributeForm.value['attribute-key']
                                    )
                                "
                                id="deleteAttribute"
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div formArrayName="port" class="field-margin subscriber-section">
                <mat-divider></mat-divider>
                <mat-hint>Port(s)</mat-hint>
                <mat-icon
                    class="subscriber-pointer"
                    id="addPort"
                    color="accent"
                    (click)="displaySelectPort = true"
                    >add
                </mat-icon>
                <div
                    *ngFor="
                        let portForm of portControls.controls;
                        let i = index
                    "
                    class="row"
                >
                    <div
                        [formGroup]="portForm"
                        [id]="portForm.value['cage-number']"
                    >
                        <div class="float-left">
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    readonly
                                    formControlName="cage-number"
                                    id="inputPortCageNumber"
                                />
                                <mat-hint>Cage</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="display-name"
                                    id="inputPortDisplayName"
                                />
                                <mat-hint>Display Name</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="description"
                                    id="inputPortDescription"
                                />
                                <mat-hint>Description</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="max-channel"
                                    id="inputPortMaxChannel"
                                />
                                <mat-hint>Max Channel</mat-hint>
                            </mat-form-field>
                            <button
                                mat-icon-button
                                color="accent"
                                [disabled]="
                                    !opaService.canWrite(
                                        '/switch-model/switch-model[switch-model-id={{id}}]'
                                    )
                                "
                                (click)="
                                    deletePortFromSelect(
                                        portForm.value['cage-number']
                                    )
                                "
                                id="deletePort"
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="
                        !(
                            switchModelForm.valid &&
                            switchModelForm.errors?.isEndpointNotValid ===
                                null &&
                            switchModelForm.touched &&
                            opaService.canWrite('/switch-model') &&
                            targetId.name !== unknownTarget
                        )
                    "
                    id="submitButton"
                >
                    Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>

<div>
    <button routerLink="/switch-model" mat-raised-button color="primary">
        Back
    </button>
</div>

<aether-select-attribute
    *ngIf="displaySelectAttribute"
    [keysAlreadyUsed]="attrKeyAlreadyUsed"
    id="attributeAddComponent"
    (closeEvent)="attributeAdded($event)"
>
</aether-select-attribute>
<aether-select-port
    *ngIf="displaySelectPort"
    id="portAddComponent"
    [portsAlreadyUsed]="portsAlreadyUsed"
    (closeEvent)="portAdded($event)"
>
</aether-select-port>
