<!--
~ SPDX-FileCopyrightText: 2022-present Intel Corporation
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form
    class="roc-edit-form"
    [formGroup]="portForm"
    (ngSubmit)="onSubmitDoubleKey()"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Cage/Channel Number:
                {{ this.portForm.get("cage-number").value }}/{{
                    this.portForm.get("channel-number").value
                }}
                on Switch {{ switchId }} (Model
                {{ switchModel }})</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="full-width field-margin">
                    <mat-select
                        class="row-pad"
                        id="selectCage"
                        [(value)]="cageNumber"
                        placeholder="Please select a Cage"
                        formControlName="cage-number"
                    >
                        <mat-option
                            *ngFor="let eachModelPort of switchPortsNotInUse"
                            [value]="eachModelPort['cage-number']"
                            >{{ eachModelPort["cage-number"] }}:
                            {{ eachModelPort["display-name"] }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Cage (from model)</mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width field-margin">
                    <mat-select
                        class="row-pad"
                        id="selectChannel"
                        [(value)]="channelNumber"
                        required
                        placeholder="Please select a Channel"
                        formControlName="channel-number"
                    >
                        <mat-option
                            *ngFor="let eachChannelOption of availableChannels"
                            [value]="eachChannelOption"
                            >{{ eachChannelOption }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Channel (0->max-channel)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="fabricRowReadOnly">
                <p class="field-margin full-width">
                    <br /><mat-hint>Fabric</mat-hint>:&nbsp;{{
                        route.snapshot.params["fabric-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="speedRow">
                <mat-form-field class="field-margin">
                    <mat-select
                        class="row-pad"
                        id="selectSpeed"
                        placeholder="Please select a Speed"
                        formControlName="speed"
                    >
                        <mat-option
                            *ngFor="let eachSpeed of speeds"
                            [value]="eachSpeed"
                            >{{ eachSpeed }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Speed</mat-hint>
                </mat-form-field>
            </div>
            <div
                formArrayName="dhcp-connect-point"
                class="row"
                id="dhcpConnectPointRow"
            >
                <mat-divider></mat-divider>
                <mat-hint
                    >Dhcp Connect Point(s)
                    <mat-icon
                        class="subscriber-pointer"
                        id="addDhcp"
                        color="accent"
                        (click)="displaySelectDhcp = true"
                        >add
                    </mat-icon>
                </mat-hint>
                <div *ngFor="let dhcp of dhcpServersControls.controls">
                    <mat-form-field class="field-margin half-width">
                        <input matInput readonly [value]="dhcp.value" />
                        <mat-icon
                            class="subscriber-pointer"
                            id="removeDhcp"
                            color="accent"
                            (click)="deleteDhcpConnectPoint(dhcp.value)"
                            >delete
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div id="portVlanRow" class="subscriber-section field-margin">
                <mat-divider></mat-divider>
                <mat-hint>Vlan</mat-hint>
                <div [formGroup]="vlanControls" class="row">
                    <div class="row float-left" id="UntaggedRow">
                        <mat-form-field class="field-margin">
                            <mat-select
                                class="row-pad"
                                id="selectVlan"
                                formControlName="untagged"
                            >
                                <mat-option
                                    *ngFor="
                                        let eachvlan of switchVlansAvailable
                                    "
                                    [value]="eachvlan['vlan-id']"
                                    >{{ eachvlan["vlan-id"] }}:
                                    {{ eachvlan["display-name"] }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Untagged</mat-hint>
                        </mat-form-field>
                    </div>
                    <div formArrayName="tagged" class="row" id="taggedRow">
                        <mat-hint>Tagged </mat-hint>
                        <mat-icon
                            class="subscriber-pointer"
                            id="addTagged"
                            color="accent"
                            (click)="displaySelectVlan = true"
                            >add
                        </mat-icon>
                        <div *ngFor="let tagged of vlanTaggedControls.controls">
                            <mat-form-field class="field-margin half-width">
                                <input
                                    matInput
                                    readonly
                                    [value]="tagged.value"
                                />
                                <mat-icon
                                    class="subscriber-pointer"
                                    id="removeTagged"
                                    color="accent"
                                    (click)="deleteVlanTagged(tagged.value)"
                                    >delete
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="
                    !(
                        portForm.valid &&
                        portForm.errors?.isEndpointNotValid === null &&
                        portForm.touched &&
                        opaService.canWrite('/switch') &&
                        targetId.name !== unknownTarget
                    )
                "
                id="submitButton"
            >
                Update
            </button>
        </mat-card-actions>
    </mat-card>
</form>

<div>
    <button routerLink="/switch" mat-raised-button color="primary">Back</button>
</div>
<aether-select-vlan
    *ngIf="displaySelectVlan"
    [vlansAvailable]="vlansAvailableNotUsed"
    (closeEvent)="addVlanControl($event)"
></aether-select-vlan>
<aether-select-dhcp-connect-point
    *ngIf="displaySelectDhcp"
    [dhcpsAvailable]="dhcpAvailableNotUsed"
    (closeEvent)="addDhcpConnectPoint($event)"
>
</aether-select-dhcp-connect-point>
