<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->

<form [formGroup]="appForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Application ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id"
                           placeholder="Please specify an ID"
                           title="This field is mandatory."
                           id="inputID"
                           required>
                    <mat-hint>Name (ID)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
                <button mat-icon-button
                        color="accent">
                    <mat-icon *ngIf="!isNew" (click)="showParentDisplay = true; $event.preventDefault()" class="subscriber-pointer"
                              id="showParentInformation"
                              color="accent">
                        assignment
                    </mat-icon>
                </button>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea matInput formControlName="description" id="inputDescription"></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class=" subscriber-section field-margin">
                <mat-hint>Maximum bitrate</mat-hint>
                <div [formGroup]="mbrControls">
                    <div class="row float-left" id="uplinkRow">
                        <mat-form-field class="field-margin">
                            <input matInput type="number" [matAutocomplete]="auto"
                                   id="inputUplink"
                                   formControlName="uplink">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of bandwidthOptions | async"
                                            [value]="option.megabyte.numerical">
                                    {{option.megabyte.numerical}}
                                    {{option.megabyte.inMb}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink (Mbps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="downlinkRow">
                        <mat-form-field class="field-margin">
                            <input matInput type="number" [matAutocomplete]="auto"
                                   id="inputDownlink"
                                   formControlName="downlink">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of bandwidthOptions | async"
                                            [value]="option.megabyte.numerical">
                                    {{option.megabyte.numerical}}
                                    {{option.megabyte.inMb}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink (Mbps)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row" id="address">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="address" id="inputAddress" required>
                    <mat-hint>Address</mat-hint>
                </mat-form-field>
            </div>
            <div formArrayName="endpoint" class=" field-margin subscriber-section">
                <mat-hint>Endpoint</mat-hint>
                <mat-icon (click)="showConnectDisplay = true" class="subscriber-pointer" id="addEndpoint"
                          color="accent">add
                </mat-icon>
                <div *ngFor="let endpointForm of endpointControls.controls">
                    <div [formGroup]="endpointForm">
                        <mat-form-field class="field-margin">
                            <input matInput readonly formControlName="name" id="inputName">
                            <mat-hint>Name</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin ">
                            <input matInput type=number formControlName="port-start"
                                   title="This field is mandatory."
                                   placeholder="Please specify a starting Port"
                                   id="inputPortStart" required>
                            <mat-hint>Port Start</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin ">
                            <input matInput type=number formControlName="port-end" id="inputPortEnd">
                            <mat-hint>Port End</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin ">
                            <mat-select
                                id="selectProtocol"
                                formControlName="protocol">
                                <mat-option
                                    *ngFor="let eachProtocol of protocolOptions"
                                    [value]="eachProtocol.name">{{eachProtocol.name}}</mat-option>
                            </mat-select>
                            <mat-hint>Protocol</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button
                                color="accent"
                                (click)="deleteFromSelect(endpointForm.value['name'])"
                                id="deleteEndpoint">
                            <mat-icon class="pad-left subscriber-pointer">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" id="enterpriseRow">
                <mat-form-field class="field-margin half-width">
                    <mat-select formControlName="enterprise"
                                placeholder="Please specify an Enterprise"
                                id="selectEnterprise">
                        <mat-option
                            *ngFor="let eachEnterprise of enterprises"
                            [value]="eachEnterprise.id">{{eachEnterprise.id}} {{eachEnterprise['display-name']}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Enterprise</mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit"
                        [disabled]="!(appForm.valid && (appForm.errors?.isEndpointNotValid === null) && appForm.value.id && appForm.touched && opaService.canWrite('/application/application'))"
                        id="submitButton">Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-endpoint-select
    *ngIf="showConnectDisplay"
    id="endpointSelectComponent"
    (closeEvent)="endpointSelected($event)">
</aether-endpoint-select>
<aether-show-vcs-usage
    *ngIf="showParentDisplay"
    id="showVcsUsageComponent"
    [applicationID]="applicationId"
    (closeShowParentCardEvent)="closeShowParentCard($event)">
</aether-show-vcs-usage>
