<!--
~ SPDX-FileCopyrightText: 2022-present Intel Corporation
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="attributeForm" (ngSubmit)="closeCard(false)">
    <mat-card class="card mat-elevation-z8">
        <mat-card-header class="header">
            <mat-card-title class="subheading-1 title"
                >Add Attribute</mat-card-title
            >
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field class="field-margin">
                <input
                    matInput
                    formControlName="attribute-key"
                    placeholder="Please specify a Key"
                    id="inputNewAttributeKey"
                />
                <mat-hint>Key</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-margin">
                <input
                    matInput
                    formControlName="attribute-value"
                    placeholder="Please specify a Value"
                    id="inputNewAttributeValue"
                />
                <mat-hint>Value</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="field-margin">
            <button
                mat-raised-button
                color="accent"
                type="button"
                (click)="closeCard(true)"
                id="cancelButton"
            >
                Cancel
            </button>
            <button
                [disabled]="
                    !(
                        attributeForm.valid &&
                        attributeForm.errors?.isEndpointNotValid === null &&
                        attributeForm.touched
                    )
                "
                mat-raised-button
                color="accent"
                type="submit"
                id="addButton"
            >
                Add
            </button>
        </mat-card-actions>
    </mat-card>
</form>
