<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="apnForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>APN Profile. ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="apn-name">
                    <mat-hint>APN Name</mat-hint>
                </mat-form-field>
            </div>
            <!-- TODO - Type is of "inet:ip-address -->
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="dns-primary">
                    <mat-hint>DNS Primary</mat-hint>
                </mat-form-field>
            </div>
            <!-- TODO - Type is of "inet:ip-address -->
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="dns-secondary">
                    <mat-hint>DNS Secondary</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput type="number" formControlName="mtu">
                    <mat-hint>MTU (68-65535)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-slide-toggle ngDefaultControl class="field-margin half-width" formControlName="gx-enabled">Enable GX</mat-slide-toggle>
            </div>
            <div class="row">
                <mat-form-field class="half-width subscriber-section">
                    <mat-select formControlName="service-group">
                        <mat-option *ngFor="let sg of serviceGroups"
                                    [value]="sg.id">{{sg.id}} {{sg['display-name']}}</mat-option>
                    </mat-select>
                    <mat-hint>Service Group</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="!opaService.canWrite('/apn-profile/apn-profile[id=' + id + ']')">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
