<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>Virtual Cellular Service</p>
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Add slice"
            id="addNewSliceButton"
            [disabled]="
                !opaService.canWrite(
                    '/slice/slice/[enterprise-id=unknownent]/[site-id=unknownsite]/[id=newinstance]'
                )
            "
            routerLink="/slice/slice-edit/unknownent/unknownsite/newinstance"
        >
            Add
        </button>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="sliceTable"
    >
        <!-- Id/Name Column -->
        <ng-container matColumnDef="id" id="nameColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                <span
                    *ngIf="row['display-name'] !== undefined"
                    [title]="row['slice-id']"
                    >{{ row["display-name"] }} <br /><small
                        >({{ row["slice-id"] }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row["slice-id"]
                }}</span>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td
                mat-cell
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                *matCellDef="let row"
                [title]="row.description"
            >
                {{ row.description | truncateText: 20 }}
            </td>
        </ng-container>

        <!-- Default Behavior Column -->
        <ng-container matColumnDef="default-behavior" id="dfColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Default Behavior
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
                [title]="row['default-behavior']"
            >
                {{ row["default-behavior"] }}
            </td>
        </ng-container>

        <!-- filter Column -->
        <ng-container matColumnDef="filter" id="filterColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Filter
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                <p
                    *ngFor="let sr of row.filter"
                    class="small-spacing"
                    [class]="sr.allow ? '' : 'semitransparent'"
                >
                    {{ sr.application }} Priority : {{ sr.priority }}
                </p>
            </td>
        </ng-container>

        <!-- MBR Column -->
        <ng-container matColumnDef="mbr" id="slicevMbrColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                MBR
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_upward</mat-icon
                    >{{ row.mbr.uplink }}
                </p>
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_downward</mat-icon
                    >{{ row.mbr.downlink }}
                </p>
            </td>
        </ng-container>

        <!-- Enterprise Column-->
        <ng-container matColumnDef="enterprise" id="EnterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Enterprise
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                {{ row["enterprise-id"] }}
                <mat-icon
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Enterprise"
                    id="pointerConnectivityService"
                    routerLink="/enterprise/enterprise-edit/{{
                        row['enterprise-id']
                    }}"
                    >launch</mat-icon
                >
            </td>
        </ng-container>

        <!-- Site Name Column -->
        <ng-container matColumnDef="site" id="siteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                {{ row["site-id"] }}
                <mat-icon
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Site"
                    id="pointerSite"
                    routerLink="/site/site-edit/{{ row['enterprise-id'] }}/{{
                        row['site-id']
                    }}"
                    >launch
                </mat-icon>
            </td>
        </ng-container>

        <!-- Device-group Column -->
        <ng-container matColumnDef="device-group" id="DeviceGroupColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Device Group
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                <p
                    *ngFor="let dg of row['device-group']"
                    class="small-spacing"
                    [class]="dg.enable ? '' : 'semitransparent'"
                >
                    {{ dg["device-group"] }}
                    <mat-icon
                        class="table_icon small_icon"
                        aria-hidden="false"
                        aria-label="DeviceGroup"
                        color="primary"
                        id="pointerDeviceGroup"
                        routerLink="/devicegroups/devicegroups-edit/{{
                            row['enterprise-id']
                        }}/{{ row['site-id'] }}/{{ dg['device-group'] }}"
                        >launch</mat-icon
                    >
                </p>
            </td>
        </ng-container>

        <!-- SD Column -->
        <ng-container matColumnDef="sd" id="sdColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SD</th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                class="small-spacing"
                *matCellDef="let row"
                [title]="row.sd"
            >
                {{ row.sd | hex }}
            </td>
        </ng-container>

        <!-- SST Column -->
        <ng-container matColumnDef="sst" id="sstColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SST</th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                class="small-spacing"
                *matCellDef="let row"
            >
                {{ row.sst }}
            </td>
        </ng-container>

        <!-- upf Column -->
        <ng-container matColumnDef="upf" id="upfColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>UPF</th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                {{ row.upf }}
                <mat-icon
                    *ngIf="row.upf"
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Upf"
                    id="pointerUpf"
                    routerLink="/upf/upf-edit/{{ row['enterprise-id'] }}/{{
                        row['site-id']
                    }}/{{ row.upf }}"
                    >launch</mat-icon
                >
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Edit
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
                routerLink="/slice/slice-edit/{{ row['enterprise-id'] }}/{{
                    row['site-id']
                }}/{{ row['slice-id'] }}"
                id="editSliceButton"
            >
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Delete
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
            >
                <button
                    mat-icon-button
                    [disabled]="
                        !opaService.canWrite(
                            '/slice/slice[id=' + row['slice-id'] + ']'
                        )
                    "
                    (click)="
                        deleteSlice(
                            row['slice-id'],
                            row['enterprise-id'],
                            row['site-id']
                        )
                    "
                    color="accent"
                    id="deleteSliceButton"
                >
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Monitor Column -->
        <ng-container matColumnDef="monitor" id="monitorColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Monitor
            </th>
            <td
                [style]="
                    deletedSliceArray.includes(row['slice-id'])
                        ? 'text-decoration: line-through'
                        : ''
                "
                mat-cell
                *matCellDef="let row"
                routerLink="/slice/slice-monitor/{{ row['slice-id'] }}"
                id="monitorSliceButton"
            >
                <mat-icon class="table_icon" color="accent">insights</mat-icon>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #paginator
        id="slicePaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 40]"
    >
    </mat-paginator>
</div>
