<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Role Column -->
        <ng-container matColumnDef="groupid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Group ID</th>
            <td mat-cell *matCellDef="let row">{{row.groupid}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>

        <!-- Role Count Column -->
        <ng-container matColumnDef="rolecount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header># Role(s)</th>
            <td mat-cell *matCellDef="let row">{{row.ListRbacV100targetRbacGroupRole.length}}</td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/rbac/group/{{row.groupid}}">
                <mat-icon class="group_icon">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
<!--            <td mat-cell *matCellDef="let row" (click)="deleteGroup(row.groupid)">-->
                <mat-icon class="group_icon">remove_circle</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectedGroup = row"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
<!--<aether-subscriber-view *ngIf="selectedRole != undefined"-->
<!--                        [subscriber]="selectedRole"-->
<!--                        (closeEvent)="selectedRole = undefined"></aether-subscriber-view>-->
