<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->

<div style="text-align:center">
    <mat-toolbar>
        <img class="mast-margin" src="/assets/AETHER.png" alt="Aether"
             width="270" height="53" routerLink=""/>
        <span class="mast-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Aether menu icon">
            <mat-icon>person</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span mat-menu-item (click)="userProfileDisplay = true">{{idTokClaims.name}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/subscribers">
            <mat-icon>smartphone</mat-icon>
            <span>Subscribers</span>
        </button>
        <button mat-menu-item routerLink="/enterprise">
            <mat-icon>apartment</mat-icon>
            <span>Enterprise</span>
        </button>
        <button mat-menu-item routerLink="/connectivity">
            <mat-icon>wifi_tethering</mat-icon>
            <span>Connectivity</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="profiles">
            <mat-icon>groups</mat-icon>
            <span>Profiles</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="apiKeyDisplay = true">
            <mat-icon>vpn_key</mat-icon>
            <span>API Key</span>
        </button>
        <button mat-menu-item routerLink="/basket" *ngIf="basketServiceEnabled">
            <mat-icon>shopping_basket</mat-icon>
            <span>Basket</span>
        </button>
        <button mat-menu-item (click)="showhelp()">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        <button mat-menu-item (click)="signingOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
    <mat-menu #profiles="matMenu">
        <button mat-menu-item routerLink="/profiles/accessprofiles">
            <mat-icon>ballot</mat-icon>
            <span>Access</span>
        </button>
        <button mat-menu-item routerLink="/profiles/apnprofiles">
            <mat-icon>ballot</mat-icon>
            <span>APN</span>
        </button>
        <button mat-menu-item routerLink="/profiles/qosprofiles">
            <mat-icon>ballot</mat-icon>
            <span>QOS</span>
        </button>
        <button mat-menu-item routerLink="/profiles/upprofiles">
            <mat-icon>ballot</mat-icon>
            <span>User Plane</span>
        </button>
        <button mat-menu-item routerLink="/profiles/securityprofiles">
            <mat-icon>lock</mat-icon>
            <span>Security</span>
        </button>
    </mat-menu>
</div>

<router-outlet></router-outlet>

<aether-user-profile *ngIf="userProfileDisplay"
                (closeEvent)="userProfileDisplay = false">
</aether-user-profile>
<aether-api-key *ngIf="apiKeyDisplay"
                [apiKey]="apiKey"
                [expiry]="idTokenExpAt"
                (closeEvent)="apiKeyDisplay = false">
</aether-api-key>
