/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
 */
.mast-margin {
    margin: 0 12px;
    cursor: pointer;
}

.mast-spacer {
    flex: 1 1 auto;
}

.small-spacing {
    padding-right: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.basketIcon {
    width: 70px;
    height: 30px;
    position: relative;
}

.txt {
    background-color: #007dc4;
    font-size: xx-small;
    color: white;
    position: absolute;
    padding: 4px;
    top: 5px;
    left: 5px;
    border-radius: 25px;
}
