/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
 */
$header-height: 40px;
$content-height: 320px;

.card {
    padding: 10px;
    margin: -$header-height auto 0;
    width: 75%;
    position: absolute;
    left: 100px;
    top: 160px;
}

.header {
    display: flex;
    align-items: center;
    height: $header-height;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0,0,0,0.12);
    //color: rgba(0,0,0,0.6);

    .title {
        margin-right: auto;
        font-weight: 400;
    }
}

.content {
    height: $content-height;
    width: 80%;
}

.field-margin {
    margin: 0 12px;
}
.button-width {
    width: 5%;
}

.group-margin {
    margin: 0 36px;
}

.divider-margin {
    margin: 6px 12px;
}

.icon-pointer {
    cursor: pointer;
}

.header-spacer {
    flex: 1 1 auto;
}

.float-left {
    float: left;
}

.spacing {
    padding-right: 20px;
}
.small_icon {
    font-size: 18px;
}

// Automatic naming from column name
.mat-column-startsat {
    flex: 0 0 20%;
}
.mat-column-alertname {
    flex: 0 0 20%;
}
.mat-column-id {
    flex: 0 0 10%;
}
