/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.basket-deleted {
    strikethrough: "";
}

.full-width-table {
    width: 100%;
}

.third-width {
    width: 50%;
}

.spacing {
    padding-right: 20px;
}

.space-allround {
    padding: 20px;
}

.small-spacing {
    padding-right: 10px;
}

.table-col-pad {
    padding-left: 3px;
}
.field-margin {
    margin: 0 12px;
}
.profile-toolbar {
    height: 32px;
}
.profile-header {
    height: 22px;
}
.table_icon {
    cursor: pointer;
}

.small_icon {
    font-size: 18px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.highlight {
    color: #a00e17; // onf-red 500
}

.semitransparent {
    opacity: 0.5;
}
