<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary" id="toolbar">
        <p>CONNECTIVITY SERVICE</p>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent" type="submit" aria-label="Add connectivity-service"
                id="addNewConnectivityServiceButton"
                [disabled]="!opaService.canWrite('/connectivity-service/connectivity-service[id=newinstance]')"
                routerLink="/connectivity/connectivity-edit/newinstance">Add</button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort aria-label="Elements" id="connectivityServiceTable">
        <!-- Id Column -->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row['display-name'] !== undefined" [title]="row.id">{{row['display-name']}}<br><small>({{row.id}})</small></span>
                <span *ngIf="row['display-name'] === undefined">{{row.id}}</span>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell  *matCellDef="let row" [title]="row.description">{{row.description | truncateText:25}}</td>
        </ng-container>

        <!-- Core Endpoint Column -->
        <ng-container matColumnDef="core-endpoint" id="coreEndPointColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Core Endpoint</th>
            <td mat-cell *matCellDef="let row">{{row['core-endpoint']}}</td>
        </ng-container>

        <!-- Edit Column -->
        <!-- TODO: Connect it up -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/connectivity/connectivity-edit/{{row.id}}" id="editColumnButton">
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        [disabled]="!opaService.canWrite('/connectivity-service/connectivity-service[id=' + row.id + ']')"
                        (click)="delete(row.id)"
                        color="accent"
                        id="deleteColumnButton">
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Usage Column -->
        <ng-container matColumnDef="usage" id="usageColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usage</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        id="usageButton"
                        (click)="showUsage(row.id)"
                        color="accent">
                    <mat-icon class="table_icon">assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row class="profile-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator id="connectivityServicePaginator"
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
<aether-show-enterprise-usage
    *ngIf="showUsageCard"
    id="showParentModulesComponent"
    [connectivityServiceID]="id"
    (closeShowParentCardEvent)="closeShowParentCard($event)">
</aether-show-enterprise-usage>
