<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="sliceForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Slice ID:
                {{ this.sliceForm.get("slice-id").value }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                class="subscriber-pointer"
                color="accent"
                routerLink="/slice/slice-monitor/{{ sliceID }}"
                id="monitorVcsButton"
                >insights
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input
                        matInput
                        formControlName="slice-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                        required
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="half-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="newEnterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="let eachEnterprise of enterprises"
                        [value]="eachEnterprise.enterpriseId"
                        >{{ eachEnterprise.enterpriseId }}
                        {{ eachEnterprise.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div
                class="half-width field-margin"
                id="siteRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Site available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectSite"
                    [(value)]="newSiteId"
                    placeholder="Please select a Site"
                >
                    <mat-option
                        *ngFor="
                            let eachSite of sitesOfEnterprise(newEnterpriseId)
                        "
                        [value]="eachSite.siteID"
                        >{{ eachSite.siteID }}
                        {{ eachSite.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Site</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="siteRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Site</mat-hint>:&nbsp;{{
                        route.snapshot.params["site-id"]
                    }}
                </p>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDesc"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="field-margin half-width">
                    <mat-select
                        (selectionChange)="templateSelected($event)"
                        id="selectTemplate"
                    >
                        <mat-option
                            *ngFor="let eachTemp of templates"
                            [value]="eachTemp"
                            >{{ eachTemp.id }}
                            {{ eachTemp["template"] }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Template</mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <mat-select
                        formControlName="default-behavior"
                        id="selectBehavior"
                    >
                        <mat-option
                            *ngFor="let b of defaultBehaviorOptions"
                            [value]="b"
                            >{{ b }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Default Behavior</mat-hint>
                </mat-form-field>
            </div>

            <!--Sd field-->
            <mat-form-field class="field-margin half-width">
                <input
                    matInput
                    placeholder="Please specify an SD"
                    formControlName="sd"
                    [title]="sdAsInt(sliceForm.get('sd').value)"
                    id="inputSd"
                />
                <mat-hint
                    >SD (Slice differentiator - 6 hex characters)</mat-hint
                >
            </mat-form-field>
            <!--SST field-->
            <mat-form-field class="field-margin half-width">
                <input
                    matInput
                    type="number"
                    placeholder="Please specify an SST"
                    formControlName="sst"
                    id="inputSst"
                />
                <mat-hint>SST (Slice/Service type 1-255)</mat-hint>
            </mat-form-field>

            <div formArrayName="filter" class="subscriber-section field-margin">
                <mat-hint>Filter</mat-hint>
                <mat-icon
                    (click)="showApplicationDisplay = true"
                    color="accent"
                    class="subscriber-pointer"
                    id="addFilter"
                >
                    add
                </mat-icon>
                <mat-icon
                    color="accent"
                    class="subscriber-pointer"
                    matTooltip="Maximum of {{
                        EndpointLimit
                    }} Application-Endpoints per slice"
                    id="infoIcon"
                    >info
                </mat-icon>
                <div class="field-margin">
                    <div *ngFor="let appForm of filter.controls; index as i">
                        <div [formGroup]="appForm" [id]="'applicationDiv' + i">
                            <mat-form-field>
                                <mat-hint>Application</mat-hint>
                                <input
                                    matInput
                                    formControlName="application"
                                    readonly
                                    id="inputFilterApplication"
                                />
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <mat-hint>Priority</mat-hint>
                                <input
                                    matInput
                                    type="number"
                                    formControlName="priority"
                                    id="inputFilterPriority"
                                />
                            </mat-form-field>
                            <mat-slide-toggle formControlName="allow"
                                >Allow</mat-slide-toggle
                            >
                            <mat-icon
                                color="primary"
                                class="ield-margin"
                                aria-hidden="false"
                                aria-label="Application"
                                routerLink="/application/application-edit/{{
                                    route.snapshot.params['enterprise-id']
                                }}/{{ appForm.value.application }}"
                                id="pointerApplication"
                                >launch
                            </mat-icon>
                            <button
                                mat-icon-button
                                color="accent"
                                [disabled]="
                                    !opaService.canWrite(
                                        '/slice/slice[slice-id={{sliceID}}]/application'
                                    )
                                "
                                (click)="
                                    deleteApplicationFromSelect(
                                        appForm.value['application']
                                    )
                                "
                                id="deleteApplication"
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                formArrayName="device-group"
                class="subscriber-section field-margin"
            >
                <mat-hint>Device Group</mat-hint>
                <mat-icon
                    (click)="showDeviceGroupDisplay = true"
                    color="accent"
                    class="subscriber-pointer"
                    id="addADeviceGroup"
                >
                    add
                </mat-icon>
                <!--device-group-->
                <div *ngFor="let dgForm of deviceGroup.controls; index as i">
                    <div
                        [formGroup]="dgForm"
                        [id]="dgForm.value['device-group']"
                    >
                        <mat-form-field class="field-margin half-width">
                            <input
                                matInput
                                formControlName="device-group"
                                readonly
                                id="inputDgDg"
                            />
                            <mat-slide-toggle formControlName="enable"
                                >Enable</mat-slide-toggle
                            >
                            <mat-icon
                                color="primary"
                                class="subscriber-pointer"
                                aria-hidden="false"
                                aria-label="device-group"
                                routerLink="/device-group/device-group-edit/{{
                                    route.snapshot.params['enterprise-id']
                                }}/{{ route.snapshot.params['site-id'] }}/{{
                                    dgForm.value['device-group']
                                }}"
                                id="pointerDeviceGroup"
                                >launch
                            </mat-icon>
                        </mat-form-field>

                        <button
                            mat-icon-button
                            id="deleteDeviceGroup"
                            color="accent"
                            [disabled]="
                                !opaService.canWrite(
                                    '/slice/slice[slice-id={{sliceID}}]/application'
                                )
                            "
                            (click)="
                                deleteDeviceGroupFromSelect(
                                    dgForm.value['device-group']
                                )
                            "
                        >
                            <mat-icon class="pad-left subscriber-pointer"
                                >delete</mat-icon
                            >
                        </button>
                    </div>
                </div>
            </div>
            <!-- uplink/downlink-->
            <div id="sliceMbrRow" class="subscriber-section field-margin">
                <mat-hint>Maximum bitrate</mat-hint>
                <div [formGroup]="mbrControls">
                    <div class="row float-left" id="UplinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="uplinkAuto"
                                id="inputmbrUplink"
                                formControlName="uplink"
                            />
                            <mat-autocomplete #uplinkAuto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="DownlinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="downlinkAuto"
                                id="inputmbrDownlink"
                                formControlName="downlink"
                            />
                            <mat-autocomplete #downlinkAuto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row float-left" id="UplinkBurstSizeRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="auto"
                                id="inputUplinkBurstSize"
                                formControlName="uplink-burst-size"
                            />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    *ngFor="let option of burstRateOptions"
                                    [value]="option.value"
                                >
                                    {{ option.label }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink Burst Size (bytes)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="DownlinkBurstSizeRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="auto"
                                id="inputDownlinkBurstSize"
                                formControlName="downlink-burst-size"
                            />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    *ngFor="let option of burstRateOptions"
                                    [value]="option.value"
                                >
                                    {{ option.label }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink Burst Size (bytes)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!--UPF dropdown-->
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <mat-label *ngIf="upfs.length === 0"
                        >No UPF available</mat-label
                    >
                    <mat-select formControlName="upf" id="selectUpf">
                        <mat-option
                            *ngFor="let eachUpf of upfs"
                            [value]="eachUpf['upf-id']"
                            >{{ eachUpf["upf-id"] }}
                            {{ eachUpf["upf"] }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>UPF</mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    id="submitButton"
                    [disabled]="
                        !(
                            sliceForm.valid &&
                            sliceForm.touched &&
                            opaService.canWrite(
                                '/slice/slice[slice-id={{sliceID}}]'
                            )
                        )
                    "
                >
                    Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-application-select
    *ngIf="
        showApplicationDisplay &&
        opaService.canWrite('/slice/slice[slice-id=' + id + ']/application')
    "
    id="applicationSelectComponent"
    [alreadySelected]="selectedApplications()"
    [selectedEnterprise]="route.snapshot.params['enterprise-id']"
    (appcloseEvent)="appSelected($event)"
>
</aether-application-select>
<aether-device-group-select
    *ngIf="
        showDeviceGroupDisplay &&
        opaService.canWrite('/slice/slice[slice-id=' + id + ']/device-group')
    "
    id="deviceGroupSelectComponent"
    [selectedEnterprise]="route.snapshot.params['enterprise-id']"
    [selectedSite]="route.snapshot.params['site-id']"
    [alreadySelected]="deviceGroupExists"
    (closeEvent)="dgSelected($event)"
>
</aether-device-group-select>
