<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="tcForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Traffic Class ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id" id="inputID">
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description" id="inputDescription">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="pelrRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput type=number formControlName="pelr" id="inputPelr">
                    <mat-hint>PELR</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="pdbRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput type=number formControlName="pdb" id="inputPdb">
                    <mat-hint>PDB</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="qciRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput type=number formControlName="qci" id="inputQci">
                    <mat-hint>QCI</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit"
                    id="submitButton"
                    [disabled]="!(tcForm.valid && tcForm.touched && opaService.canWrite('/traffic-class/traffic-class[id=' + id + ']'))">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
