<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="tcForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Traffic Class ID: {{ trafficClassId }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input
                        matInput
                        formControlName="traffic-class-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="half-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="newEnterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="let eachEnterprise of enterprises"
                        [value]="eachEnterprise.enterpriseId"
                        >{{ eachEnterprise.enterpriseId }}
                        {{ eachEnterprise.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="pelrRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        type="number"
                        formControlName="pelr"
                        id="inputPelr"
                    />
                    <mat-hint
                        >Packet Error Loss Rate (PELR) exponent (0-10)</mat-hint
                    >
                </mat-form-field>
            </div>
            <div class="row" id="pdbRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        type="number"
                        formControlName="pdb"
                        id="inputPdb"
                    />
                    <mat-hint>Packet Delay Budget (PDB) (0-1000)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="arpRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        type="number"
                        formControlName="arp"
                        id="inputArp"
                    />
                    <mat-hint
                        >Allocation and Retention Priority (ARP)
                        (1-15)</mat-hint
                    >
                </mat-form-field>
            </div>
            <div class="row" id="qciRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        type="number"
                        formControlName="qci"
                        id="inputQci"
                    />
                    <mat-hint>QoS Class Identifier (QCI) (1-32)</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                id="submitButton"
                [disabled]="
                    !(
                        tcForm.valid &&
                        tcForm.touched &&
                        opaService.canWrite(
                            '/traffic-class/traffic-class[id=' + id + ']'
                        )
                    )
                "
            >
                Update
            </button>
        </mat-card-actions>
    </mat-card>
</form>
<aether-show-usage
    *ngIf="showParentDisplay"
    id="showParentModulesComponent"
    [enterpriseID]="route.snapshot.params['enterprise-id']"
    [trafficClassID]="trafficClassId"
    (closeShowParentCardEvent)="closeShowParentCard()"
>
</aether-show-usage>
