<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>AP LIST</p>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent" type="submit" aria-label="Add ap-list"
                id="addApListButton"
                [disabled]="!opaService.canWrite('/aplist/aplist[id=newinstance]')"
                routerLink="/aplist/aplist-edit/newinstance">Add
        </button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort aria-label="Elements" id="apListTable">

        <!-- Id Column -->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row['display-name'] !== undefined" [title]="row.id">{{row['display-name']}}<br><small>({{row.id}})</small></span>
                <span *ngIf="row['display-name'] === undefined">{{row.id}}</span>
            </td>
        </ng-container>

        <!-- Access-Points Column -->
        <ng-container matColumnDef="Access-Points" id="accessPointsColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Access-Points</th>
            <td mat-cell *matCellDef="let row">
                <p *ngFor="let ap of row['access-points']">Address: {{ap.address}}</p>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descriptionColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell  *matCellDef="let row" [title]="row.description">{{row.description | truncateText:20}}</td>
        </ng-container>

        <ng-container matColumnDef="enterprise" id="enterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise</th>
            <td mat-cell *matCellDef="let row">{{row.enterprise}}
                <mat-icon class="table_icon small_icon" color="primary" aria-hidden="false" aria-label="Enterprise"
                          routerLink="/enterprise/enterprise-edit/{{row.enterprise}}">launch</mat-icon>
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/aplist/aplist-edit/{{row.id}}" id="editButton">
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        id="deleteButton"
                        [disabled]="!opaService.canWrite('/aplist/aplist[id=' + row.id + ']')"
                        (click)="delete(row.id)"
                        color="accent"
                        id="deleteApListButton">
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row class="profile-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator id="apListPaginator"
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
