<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<mat-card class="card mat-elevation-z8" (click)="closeCard()">
    <mat-card-header class="header">
        <mat-card-title class="subheading-1 title"
            >Transaction List</mat-card-title
        >
    </mat-card-header>
    <mat-card-content>
        <table
            mat-table
            matSort
            aria-label="Elements"
            id="TransactionListTable"
        >
            <!-- Id Column -->
            <ng-container matColumnDef="id" id="idColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="username" id="UsernameColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Username
                </th>
                <td mat-cell *matCellDef="let row" [title]="row.username">
                    {{ row.username }}
                </td>
            </ng-container>

            <!--  Changes Column-->
            <ng-container matColumnDef="changes" id="ValueColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                    Changes
                </th>
                <td mat-cell *matCellDef="let row">
                    <div class="transaction-list-path">
                        <div
                            class="transaction-list-change"
                            *ngFor="let change of row.changes[0].values"
                        >
                            <p>Path: {{ change["path"] }}</p>
                            <p>
                                Removed: {{ change["removed"] }} Value:
                                {{ change["value"] }}
                            </p>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Updated Column -->
            <ng-container matColumnDef="updated" id="UpdatedColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                    Updated
                </th>
                <td mat-cell *matCellDef="let row" id="UpdatedButton">
                    {{ row.updated | date: "medium" }}
                </td>
            </ng-container>

            <!--  status Column-->
            <ng-container matColumnDef="status" id="StatusPhaseColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    status
                </th>
                <td mat-cell *matCellDef="let row" [title]="row.status">
                    <p>Phase: {{ row.status.phase }}</p>
                    <p>State: {{ row.status.state }}</p>
                </td>
            </ng-container>

            <tr
                mat-header-row
                class="profile-header"
                *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
</mat-card>
