<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form class="roc-edit-form" [formGroup]="siteForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Site ID:
                {{ this.siteForm.get("site-id").value }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                class="subscriber-pointer"
                color="accent"
                routerLink="/site/site-monitor/{{
                    route.snapshot.params['enterprise-id']
                }}/{{ siteId }}"
                id="monitorSiteButton"
                >insights
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="full-width field-margin">
                    <input
                        matInput
                        formControlName="site-id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="full-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterpriseService.enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="enterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="
                            let eachEnterprise of enterpriseService.enterprises
                        "
                        [value]="eachEnterprise"
                        >{{ eachEnterprise.name }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin full-width">
                    <br />
                    <mat-hint>Enterprise</mat-hint>
                    :&nbsp;{{ route.snapshot.params["enterprise-id"] }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>

            <mat-hint>Monitoring</mat-hint>
            <div [formGroup]="MonitoringControls">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="edge-cluster-prometheus-url"
                        id="inputECPU"
                    />
                    <mat-hint>Edge Cluster Prometheus Url</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="edge-monitoring-prometheus-url"
                        id="inputEMPU"
                    />
                    <mat-hint>Edge Monitoring Prometheus Url</mat-hint>
                </mat-form-field>
                <div formArrayName="edge-device" class="subscriber-section">
                    <mat-hint>Edge Device</mat-hint>
                    <mat-icon
                        (click)="showEdgeDeviceDisplay = true"
                        class="subscriber-pointer"
                        id="addEdgeDevice"
                        color="accent"
                        >add
                    </mat-icon>
                    <div
                        *ngFor="
                            let edgeDeviceForm of edgeDeviceControls.controls
                        "
                    >
                        <div
                            [formGroup]="edgeDeviceForm"
                            [id]="edgeDeviceForm.value['edge-device-id']"
                        >
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    readonly
                                    formControlName="edge-device-id"
                                    id="inputEDID"
                                />
                                <mat-hint>Edge Device ID</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="display-name"
                                    id="inputEDDisplayName"
                                />
                                <mat-hint>Display Name</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="description"
                                    id="inputEDDescription"
                                />
                                <mat-hint>Description</mat-hint>
                            </mat-form-field>
                            <button
                                mat-icon-button
                                color="accent"
                                [disabled]="
                                    !opaService.canWrite(
                                        '/site/site[site-id={{ id }}]'
                                    )
                                "
                                (click)="
                                    deleteEDFromSelect(
                                        edgeDeviceForm.value['edge-device-id']
                                    )
                                "
                                id="deleteEdgeDevice"
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <mat-hint>IMSI</mat-hint>
            <div [formGroup]="ImsiControls">
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="mcc"
                        placeholder="Please specify MCC"
                        id="inputMCC"
                        required
                    />
                    <mat-hint>MCC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="mnc"
                        placeholder="Please specify MNC"
                        id="inputMNC"
                        required
                    />
                    <mat-hint>MNC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="enterprise"
                        placeholder="Please specify ENT"
                        id="inputEnterprise"
                        type="number"
                        required
                    />
                    <mat-hint>Ent</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="format"
                        placeholder="Please specify a format"
                        id="inputformat"
                    />
                    <mat-hint
                        >Format <br />(Example = CCCNNNEEESSSSSS
                        <br />
                        C=MCC, N=MNC, E=Enterprise, S=Subscriber ID)
                    </mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="
                        !(
                            siteForm.valid &&
                            siteForm.touched &&
                            opaService.canWrite('/site/site') &&
                            enterpriseId.name !== unknownEnterprise
                        )
                    "
                    id="submitButton"
                >
                    Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>

<div>
    <button routerLink="/site" mat-raised-button color="primary">Back</button>
</div>

<aether-edge-device
    *ngIf="showEdgeDeviceDisplay"
    id="showEdgeDeviceComponent"
    (closeEdgeDeviceEvent)="closeEdgeDeviceCard($event)"
>
</aether-edge-device>
