<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Site ID: {{ id }}</mat-card-title>
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input
                        matInput
                        formControlName="id"
                        placeholder="Please specify an ID"
                        id="inputID"
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="enterpriseRow">
                <mat-form-field class="field-margin half-width">
                    <mat-select
                        formControlName="enterprise"
                        placeholder="Please specify an Enterprise"
                        id="selectEnterprise"
                    >
                        <mat-option
                            *ngFor="let eachEnterprise of enterprises"
                            [value]="eachEnterprise.id"
                            >{{ eachEnterprise.id }}
                            {{ eachEnterprise["display-name"] }}</mat-option
                        >
                    </mat-select>
                    <mat-hint>Enterprise</mat-hint>
                </mat-form-field>
            </div>

            <div formArrayName="small-cell" class="subscriber-section">
                <mat-hint>Small Cell</mat-hint>
                <mat-icon
                    (click)="showConnectDisplay = true"
                    class="subscriber-pointer"
                    id="addSmallCell"
                    color="accent"
                    >add
                </mat-icon>
                <div
                    *ngFor="
                        let smallCellForm of smallCellControls.controls;
                        index as i
                    "
                >
                    <div
                        [formGroup]="smallCellForm"
                        [id]="smallCellForm.value['small-cell-id']"
                    >
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                readonly
                                formControlName="small-cell-id"
                                id="inputSCID"
                            />
                            <mat-hint>Small Cell ID</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                formControlName="display-name"
                                id="inputSCName"
                            />
                            <mat-hint>Small Cell Name</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                formControlName="address"
                                id="inputSCAddress"
                            />
                            <mat-hint>Address</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                formControlName="tac"
                                id="inputScTac"
                            />
                            <mat-hint>Type Allocation Code</mat-hint>
                        </mat-form-field>
                        <mat-slide-toggle formControlName="enable"
                            >Enable</mat-slide-toggle
                        >
                        <button
                            mat-icon-button
                            color="accent"
                            (click)="
                                deleteFromSelect(
                                    smallCellForm.value['small-cell-id']
                                )
                            "
                            id="deleteSmallCell"
                        >
                            <mat-icon class="pad-left subscriber-pointer"
                                >delete</mat-icon
                            >
                        </button>
                    </div>
                </div>
            </div>

            <mat-hint>Monitoring</mat-hint>
            <div [formGroup]="MonitoringControls">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="edge-cluster-prometheus-url"
                        id="inputECPU"
                    />
                    <mat-hint>Edge Cluster Prometheus Url</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="edge-monitoring-prometheus-url"
                        id="inputEMPU"
                    />
                    <mat-hint>Edge Monitoring Prometheus Url</mat-hint>
                </mat-form-field>
                <div formArrayName="edge-device" class="subscriber-section">
                    <mat-hint>Edge Device</mat-hint>
                    <mat-icon
                        (click)="showEdgeDeviceDisplay = true"
                        class="subscriber-pointer"
                        id="addEdgeDevice"
                        color="accent"
                        >add
                    </mat-icon>
                    <div
                        *ngFor="
                            let edgeDeviceForm of edgeDeviceControls.controls
                        "
                    >
                        <div
                            [formGroup]="edgeDeviceForm"
                            [id]="edgeDeviceForm.value['edge-device-id']"
                        >
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    readonly
                                    formControlName="edge-device-id"
                                    id="inputEDID"
                                />
                                <mat-hint>Edge Device ID</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="display-name"
                                    id="inputEDDisplayName"
                                />
                                <mat-hint>Display Name</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="field-margin">
                                <input
                                    matInput
                                    formControlName="description"
                                    id="inputEDDescription"
                                />
                                <mat-hint>Description</mat-hint>
                            </mat-form-field>
                            <button
                                mat-icon-button
                                color="accent"
                                (click)="
                                    deleteEDFromSelect(
                                        edgeDeviceForm.value['edge-device-id']
                                    )
                                "
                                id="deleteEdgeDevice"
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <mat-hint>IMSI</mat-hint>
            <div [formGroup]="ImsiControls">
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="mcc"
                        id="inputMCC"
                        required
                    />
                    <mat-hint>MCC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="mnc"
                        id="inputMNC"
                        required
                    />
                    <mat-hint>MNC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        type="number"
                        formControlName="enterprise"
                        id="inputEnterprise"
                        required
                    />
                    <mat-hint>Enterprise</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input
                        matInput
                        formControlName="format"
                        placeholder="Please specify a format"
                        id="inputformat"
                    />
                    <mat-hint
                        >Format <br />(Example = CCCNNNEEESSSSSS
                        <br />
                        C=MCC, N=MNC, E=Enterprise, S=Subscriber ID)
                    </mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="
                        !(
                            siteForm.valid &&
                            siteForm.value.id &&
                            siteForm.touched &&
                            opaService.canWrite('/site/site')
                        )
                    "
                    id="submitButton"
                >
                    Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-small-cell-select
    *ngIf="showConnectDisplay"
    id="endpointSelectComponent"
    (closeEvent)="smallCellSelected($event)"
>
</aether-small-cell-select>
<aether-edge-device
    *ngIf="showEdgeDeviceDisplay"
    id="showEdgeDeviceComponent"
    (closeEdgeDeviceEvent)="closeEdgeDeviceCard($event)"
>
</aether-edge-device>
<aether-show-dg-usage
    *ngIf="showParentDisplay"
    id="showParentModulesComponent"
    [siteID]="siteId"
    (closeShowParentCardEvent)="closeShowParentCard($event)"
>
</aether-show-dg-usage>
