<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Site ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id" id="inputID">
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description" id="inputDescription">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>

            <div class="row" id="enterpriseRow">
                <mat-form-field class="field-margin half-width">
                    <mat-select formControlName="enterprise">
                        <mat-option id="selectEnterprise"
                                    *ngFor="let eachEnterprise of enterprises"
                                    [value]="eachEnterprise.id">{{eachEnterprise.id}} {{eachEnterprise['display-name']}}</mat-option>
                    </mat-select>
                    <mat-hint>Enterprise</mat-hint>
                </mat-form-field>
            </div>
            <mat-hint>IMIS</mat-hint>
            <div [formGroup]="ImsiControls">
                <mat-form-field class="field-margin">
                    <input matInput formControlName="mcc" id="inputMCC" required>
                    <mat-hint>MCC</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin ">
                    <input matInput formControlName="mnc" id="inputMNC" required>
                    <mat-hint>Address</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin ">
                    <input matInput formControlName="enterprise" id="inputEnterprise" required>
                    <mat-hint>Enterprise</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin ">
                    <input matInput formControlName="format" id="inputformat">
                    <mat-hint>Format</mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit"
                        [disabled]="!(siteForm.valid && siteForm.touched && opaService.canWrite('/site/site'))"
                        id="submitButton">Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
