<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>User Plane Function</p>
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Add device"
            id="addNewDeviceButton"
            [disabled]="
                !opaService.canWrite(
                    '/device/device/[ent-id=unknownent]/[site-id=unknownsite]/[id=newinstance]'
                )
            "
            routerLink="/device/device-edit/unknownent/unknownsite/newinstance"
        >
            Add
        </button>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="deviceTable"
    >
        <!-- Id/Name Column -->
        <ng-container matColumnDef="id" id="nameColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span
                    *ngIf="row['display-name'] !== undefined"
                    [title]="row['dev-id']"
                    >{{ row["display-name"] }} <br /><small
                        >({{ row["dev-id"] }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row["dev-id"]
                }}</span>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let row" [title]="row.description">
                {{ row.description | truncateText: 35 }}
            </td>
        </ng-container>

        <!-- imei Column -->
        <ng-container matColumnDef="imei" id="imeiColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IMEI</th>
            <td mat-cell *matCellDef="let row">
                {{ row.imei }}
            </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="sim-card" id="simCardColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sim Card</th>
            <td mat-cell *matCellDef="let row">
                {{ row["sim-card"] }}
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Edit
            </th>
            <td
                mat-cell
                *matCellDef="let row"
                routerLink="/device/device-edit/{{ row['ent-id'] }}/{{
                    row['site-id']
                }}/{{ row['dev-id'] }}"
                id="editDevicefButton"
            >
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="usage/delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Usage/Delete
            </th>
            <td mat-cell *matCellDef="let row">
                <button
                    *ngIf="!checkForUsage(row['dev-id'])"
                    mat-icon-button
                    [disabled]="
                        !opaService.canWrite(
                            '/device/device[id=' + row['dev-id'] + ']'
                        )
                    "
                    (click)="delete(row['dev-id'])"
                    color="accent"
                    id="deleteDeviceButton"
                >
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
                <button
                    *ngIf="checkForUsage(row['dev-id'])"
                    mat-icon-button
                    id="usageButton"
                    (click)="showUsage(row['dev-id'])"
                    color="accent"
                >
                    <mat-icon class="table_icon">assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #paginator
        id="devicePaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 40]"
    >
    </mat-paginator>
</div>
