<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="selectForm" (ngSubmit)="close(false)">
    <mat-card class="card mat-elevation-z8">
        <mat-card-header class="header">
            <mat-card-title class="subheading-1 title"
                >Choose Application</mat-card-title
            >
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field>
                <mat-label>Application</mat-label>
                <mat-select
                    formControlName="select-item"
                    id="selectNewApplicationApplication"
                >
                    <mat-option
                        *ngFor="let item of this.displayList"
                        [value]="item['application-id']"
                    >
                        {{ item["application-id"] }}
                        <span *ngIf="item['display-name']">
                            ({{ item["display-name"] }})</span
                        >
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="field-margin half-width">
                <input
                    matInput
                    type="number"
                    formControlName="priority"
                    id="inputNewApplicationPriority"
                />
                <mat-hint>Priority</mat-hint>
            </mat-form-field>
            <mat-icon
                color="accent"
                class="subscriber-pointer"
                matTooltip="Application with {{
                    this.endpointsAllowed
                }} or less endpoints appear in dropdown"
                id="infoIcon"
                >info
            </mat-icon>
        </mat-card-content>
        <mat-card-actions class="field-margin">
            <button
                mat-raised-button
                color="accent"
                type="button"
                (click)="close(true)"
                id="cancelButton"
            >
                Cancel
            </button>
            <button
                [disabled]="!(selectForm.valid && selectForm.touched)"
                mat-raised-button
                color="accent"
                type="submit"
                id="addButton"
            >
                Add
            </button>
        </mat-card-actions>
    </mat-card>
</form>
