<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="deviceGroupForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Device Group ID: {{id}}</mat-card-title>
            <mat-icon *ngIf="!isNew" class="subscriber-pointer"
                      color="accent"
                      routerLink="/devicegroups/devicegroups-monitor/{{id}}"
                      id="monitorDgButton">insights
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id"
                           placeholder="Please specify an ID"
                           title="This field is mandatory."
                           id="inputID"
                           required>
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
                <button mat-icon-button
                        color="accent">
                    <mat-icon (click)="showParentDisplay = true" class="subscriber-pointer" id="showParentInformation"
                              color="accent">
                        assignment
                    </mat-icon>
                </button>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea matInput formControlName="description" id="inputDescription"></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width subscriber-section">
                    <mat-select ngDefaultControl
                                formControlName="ip-domain"
                                id="selectIpDomain">
                        <mat-option *ngFor="let ip of ipdomain"
                                    [value]="ip.id">{{ip.id}}
                            <span *ngIf="ip['display-name']"> ({{ip['display-name']}})</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint>Ip Domain</mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="field-margin half-width subscriber-section">
                    <mat-select ngDefaultControl formControlName="site"
                                title="This field is mandatory."
                                placeholder="Please specify a Site"
                                (selectionChange)="displayImsiAdd()"
                                id="selectSite"
                                required>
                        <mat-option *ngFor="let site of site"
                                    [value]="site.id">{{site.id}}
                            <span *ngIf="site['display-name']"> ({{site['display-name']}})</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint>Site</mat-hint>
                </mat-form-field>
            </div>

            <div id="deviceMbrRow">
                <mat-hint>Device Maximum bitrate</mat-hint>
                <div [formGroup]="deviceMbrControls">
                    <div class="row float-left" id="uplinkRow">
                        <mat-form-field class="field-margin">
                            <input matInput type="number" [matAutocomplete]="auto"
                                   id="inputDeviceUplink"
                                   formControlName="uplink">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of bandwidthOptions | async"
                                            [value]="option.megabyte.numerical">
                                    {{option.megabyte.numerical}}
                                    {{option.megabyte.inMb}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink (Mbps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row " id="downlinkRow">
                        <mat-form-field class="field-margin">
                            <input matInput type="number" [matAutocomplete]="auto"
                                   id="inputDeviceDownlink"
                                   formControlName="downlink">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of bandwidthOptions | async"
                                            [value]="option.megabyte.numerical">
                                    {{option.megabyte.numerical}}
                                    {{option.megabyte.inMb}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink (Mbps)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div [formGroup]="deviceTrafficClassControls" class="row" id="trafficClassnRow">
                    <mat-form-field class="half-width subscriber-section">
                        <mat-select formControlName="traffic-class"
                                    id="selectTrafficClass">
                            <mat-option
                                *ngFor="let tc of trafficClass"
                                [value]="tc.id">{{tc.id}} {{tc['traffic-class']}}</mat-option>
                        </mat-select>
                        <mat-hint>Traffic Class</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div formArrayName="imsis" class="subscriber-section">
                <mat-hint>UE IDs</mat-hint>
                <mat-icon *ngIf="showAddImsi" (click)="this.showImsiDisplay = true"
                          id="addNewExistingAccessProfile"
                          color="accent"
                          class="subscriber-pointer">add
                </mat-icon>
                <mat-icon id="IMSIinfo"
                          color="accent"
                          [matTooltip]="fetchTooltipContent()"
                          class="subscriber-pointer">info
                </mat-icon>
                <div *ngFor="let imsiForm of imsiControls.controls">
                    <div [formGroup]="imsiForm">
                        <mat-form-field class="field-margin">
                            <input matInput formControlName="name" id="inputName" readonly>
                            <mat-hint>Name</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="imsi-range-from" type="number" id="inputImsiRangeFrom">
                            <mat-hint>ID Range Start</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="imsi-range-to" type="number" id="inputImsiRangeTo">
                            <mat-hint>ID Range End</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button
                                color="accent"
                                id="deleteExistingAccessProfileButton"
                                [disabled]="!opaService.canWrite('/devicegroups/devicegroups-edit[id=' + id + ']/imsis')"
                                (click)="deleteFromSelect(imsiForm.value['name'])">
                            <mat-icon class="pad-left subscriber-pointer">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit"
                        [disabled]="!(deviceGroupForm.valid && (deviceGroupForm.errors?.isRangeNotValid === null) && deviceGroupForm.touched && opaService.canWrite('/devicegroups/devicegroups'))"
                        id="submitButton">Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-imsis-select
    *ngIf="showImsiDisplay && opaService.canWrite('/devicegroup/devicegroup[id=' + id + ']/imsis')"
    id="imsiSelectComponent"
    [OtherImsi]="imsis"
    [ImisLengthLimits]="SiteImisLength"
    (closeEvent)="imsiSelectCardClosed($event)">
</aether-imsis-select>
<aether-show-parent-modules
    *ngIf="showParentDisplay"
    id="showParentModulesComponent"
    [deviceGroupID]="deviceGroupId"
    (closeShowParentCardEvent)="closeShowParentCard($event)">
</aether-show-parent-modules>
