<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form [formGroup]="deviceGroupForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Device Group ID:
                {{
                    this.deviceGroupForm.get("device-group-id").value
                }}</mat-card-title
            >
            <mat-icon
                *ngIf="!isNew"
                class="subscriber-pointer"
                color="accent"
                routerLink="/device-group/device-group-monitor/{{
                    deviceGroupId
                }}"
                id="monitorDgButton"
                >insights
            </mat-icon>
            <mat-icon
                *ngIf="!isNew"
                (click)="showParentDisplay = true; $event.preventDefault()"
                class="subscriber-pointer"
                id="showParentInformation"
                color="accent"
            >
                assignment
            </mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input
                        matInput
                        formControlName="device-group-id"
                        placeholder="Please specify an ID"
                        title="This field is mandatory."
                        id="inputID"
                        required
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div
                class="half-width field-margin"
                id="enterpriseRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Enterprise available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectEnterprise"
                    [(value)]="newEnterpriseId"
                    placeholder="Please select an Enterprise"
                >
                    <mat-option
                        *ngFor="let eachEnterprise of enterprises"
                        [value]="eachEnterprise.enterpriseId"
                        >{{ eachEnterprise.enterpriseId }}
                        {{ eachEnterprise.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Enterprise</small></mat-hint>
            </div>
            <div
                class="half-width field-margin"
                id="siteRowSelect"
                *ngIf="isNew"
            >
                <mat-label *ngIf="enterprises.length === 0"
                    >No Site available
                </mat-label>
                <mat-select
                    class="row-pad"
                    id="selectSite"
                    [(value)]="newSiteId"
                    placeholder="Please select a Site"
                >
                    <mat-option
                        *ngFor="
                            let eachSite of sitesOfEnterprise(newEnterpriseId)
                        "
                        [value]="eachSite.siteID"
                        >{{ eachSite.siteID }}
                        {{ eachSite.displayName }}
                    </mat-option>
                </mat-select>
                <mat-hint><small>Site</small></mat-hint>
            </div>
            <div class="row" id="enterpriseRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Enterprise</mat-hint>:&nbsp;{{
                        route.snapshot.params["enterprise-id"]
                    }}
                </p>
            </div>
            <div class="row" id="siteRowReadOnly" *ngIf="!isNew">
                <p class="field-margin half-width">
                    <br /><mat-hint>Site</mat-hint>:&nbsp;{{
                        route.snapshot.params["site-id"]
                    }}
                </p>
            </div>
            <div class="row" id="displayNameRow">
                <mat-form-field class="field-margin half-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" id="descriptionRow">
                <mat-form-field class="field-margin half-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field
                    class="field-margin half-width subscriber-section"
                >
                    <mat-select
                        ngDefaultControl
                        formControlName="ip-domain"
                        id="selectIpDomain"
                    >
                        <mat-option
                            *ngFor="let ip of ipdomain"
                            [value]="ip['ip-domain-id']"
                            >{{ ip["ip-domain-id"] }}
                            <span *ngIf="ip['display-name']">
                                ({{ ip["display-name"] }})</span
                            >
                        </mat-option>
                    </mat-select>
                    <mat-hint>Ip Domain</mat-hint>
                </mat-form-field>
            </div>

            <div id="mbrRow">
                <mat-hint class="field-margin row-pad"
                    >Maximum bitrate</mat-hint
                >
                <div [formGroup]="mbrControls">
                    <div class="row float-left" id="uplinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="auto"
                                id="inputMbrUplink"
                                formControlName="uplink"
                            />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.numerical }}
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Uplink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row" id="downlinkRow">
                        <mat-form-field class="field-margin">
                            <input
                                matInput
                                type="number"
                                [matAutocomplete]="auto"
                                id="inputMbrDownlink"
                                formControlName="downlink"
                            />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    *ngFor="
                                        let option of bandwidthOptions | async
                                    "
                                    [value]="option.megabyte.numerical"
                                >
                                    {{ option.megabyte.numerical }}
                                    {{ option.megabyte.inMb }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint>Downlink (bps)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" id="trafficClassRow">
                    <mat-form-field class="field-margin half-width">
                        <mat-select
                            formControlName="traffic-class"
                            id="selectTrafficClass"
                            placeholder="Please select a Traffic Class"
                        >
                            <mat-option
                                *ngFor="let tc of trafficClass"
                                [value]="tc['traffic-class-id']"
                                >{{ tc["traffic-class-id"] }}
                            </mat-option>
                        </mat-select>
                        <mat-hint>Traffic Class</mat-hint>
                    </mat-form-field>
                </div>
                <div
                    formArrayName="device"
                    class="subscriber-section field-margin"
                >
                    <mat-hint>Device</mat-hint>
                    <mat-icon
                        (click)="showDeviceDisplay = true"
                        color="accent"
                        class="subscriber-pointer"
                        id="addADevice"
                    >
                        add
                    </mat-icon>
                    <!--device-->
                    <div
                        *ngFor="
                            let deviceForm of deviceControls.controls;
                            index as i
                        "
                    >
                        <div
                            [formGroup]="deviceForm"
                            [id]="deviceForm.value['device-id']"
                        >
                            <mat-form-field class="field-margin half-width">
                                <input
                                    matInput
                                    formControlName="device-id"
                                    readonly
                                    id="inputDgDevId"
                                />
                                <mat-slide-toggle formControlName="enable"
                                    >Enable</mat-slide-toggle
                                >
                                <mat-icon
                                    color="primary"
                                    class="subscriber-pointer"
                                    aria-hidden="false"
                                    aria-label="device-group"
                                    routerLink="/device/device-edit/{{
                                        route.snapshot.params['enterprise-id']
                                    }}/{{ route.snapshot.params['site-id'] }}/{{
                                        deviceForm.value['device-id']
                                    }}"
                                    id="pointerDevice"
                                    >launch
                                </mat-icon>
                            </mat-form-field>

                            <button
                                mat-icon-button
                                id="deleteDeviceGroup"
                                color="accent"
                                [disabled]="
                                    !opaService.canWrite(
                                        '/device-group/device-group[device-group-id={{devID}}]/application'
                                    )
                                "
                                (click)="
                                    deleteFromSelect(
                                        deviceForm.value['device-id']
                                    )
                                "
                            >
                                <mat-icon class="pad-left subscriber-pointer"
                                    >delete</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="
                        !(
                            deviceGroupForm.valid &&
                            deviceGroupForm.errors?.isRangeNotValid === null &&
                            deviceGroupForm.touched &&
                            opaService.canWrite('/device-group/device-group')
                        )
                    "
                    id="submitButton"
                >
                    Update
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>
<aether-device-select
    *ngIf="
        showDeviceDisplay &&
        opaService.canWrite(
            '/device-group/device-group[device-group-id=' + id + ']/device'
        )
    "
    id="deviceSelectComponent"
    [selectedEnterprise]="route.snapshot.params['enterprise-id']"
    [selectedSite]="route.snapshot.params['site-id']"
    [alreadySelected]="deviceExists"
    (closeEvent)="deviceSelected($event)"
>
</aether-device-select>
<aether-show-vcs-usage
    *ngIf="showParentDisplay"
    id="showParentModulesComponent"
    [deviceGroupID]="deviceGroupId"
    (closeShowParentCardEvent)="closeShowParentCard()"
>
</aether-show-vcs-usage>
