<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>Template</p>
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Add template"
            id="addNewTemplateButton"
            [disabled]="
                !opaService.canWrite(
                    '/template/template/[enterprise-id=unknownent]/[id=newinstance]'
                )
            "
            routerLink="/template/template-edit/unknownent/newinstance"
        >
            Add
        </button>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="templateTable"
    >
        <!-- Id/Name Column -->
        <ng-container matColumnDef="id" id="nameColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span
                    *ngIf="row['display-name'] !== undefined"
                    [title]="row['template-id']"
                    >{{ row["display-name"] }}<br /><small
                        >({{ row["template-id"] }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row["template-id"]
                }}</span>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let row" [title]="row.description">
                {{ row.description | truncateText: 35 }}
            </td>
        </ng-container>

        <!-- SD Column -->
        <ng-container matColumnDef="sd" id="sdColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SD</th>
            <td mat-cell *matCellDef="let row" [title]="row.sd">
                {{ row.sd | hex }}
            </td>
        </ng-container>

        <!-- SST Column -->
        <ng-container matColumnDef="sst" id="sstColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SST</th>
            <td mat-cell *matCellDef="let row">{{ row.sst }}</td>
        </ng-container>

        <!-- Default Behavior Column -->
        <ng-container matColumnDef="default-behavior" id="dfColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Default Behavior
            </th>
            <td
                mat-cell
                *matCellDef="let row"
                [title]="row['default-behavior']"
            >
                {{ row["default-behavior"] }}
            </td>
        </ng-container>

        <!-- mbr Column -->
        <ng-container matColumnDef="mbr" id="mbrColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Slice MBR (bps)
            </th>
            <td mat-cell *matCellDef="let row">
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_upward </mat-icon>
                    {{ row.mbr.uplink }}
                </p>
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_downward </mat-icon>
                    {{ row.mbr.downlink }}
                </p>
            </td>
        </ng-container>

        <!-- burst Column -->
        <ng-container matColumnDef="burst" id="burstColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Slice Burst Size (Byte)
            </th>
            <td mat-cell *matCellDef="let row">
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_upward </mat-icon>
                    {{ row.mbr["uplink-burst-size"] }}
                </p>
                <p *ngIf="row.mbr">
                    <mat-icon class="small_icon">arrow_downward </mat-icon>
                    {{ row.mbr["downlink-burst-size"] }}
                </p>
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Edit
            </th>
            <td
                mat-cell
                *matCellDef="let row"
                routerLink="/template/template-edit/{{
                    row['enterprise-id']
                }}/{{ row['template-id'] }}"
                id="edittemplateButton"
            >
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Delete
            </th>
            <td mat-cell *matCellDef="let row">
                <button
                    mat-icon-button
                    [disabled]="
                        !opaService.canWrite(
                            '/template/template[id=' + row['template-id'] + ']'
                        )
                    "
                    (click)="delete(row['template-id'])"
                    color="accent"
                    id="deletetemplateButton"
                >
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #paginator
        id="templatePaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 40]"
    >
    </mat-paginator>
</div>
