<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>APPLICATION</p>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent" type="submit" aria-label="Add application"
                id="addApplicationButton"
                [disabled]="!opaService.canWrite('application/application[id=newinstance]')"
                routerLink="/application/application-edit/newinstance">Add
        </button>
    </mat-toolbar>
    <table mat-table class="full-width-table" matSort aria-label="Elements" id="applicationTable">

        <!-- Id Column -->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row['display-name'] !== undefined" [title]="row.id">{{row['display-name']}}
                    <br><small>({{row.id}})</small></span>
                <span *ngIf="row['display-name'] === undefined">{{row.id}}</span>
            </td>
        </ng-container>

        <!-- Description Name Column -->
        <ng-container matColumnDef="description" id="descriptionColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell  *matCellDef="let row" [title]="row.description">{{row.description | truncateText:40}}</td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address" id="addressColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell  *matCellDef="let row" [title]="row.address">{{row.address}}</td>
        </ng-container>

        <!--Uplink Column-->
        <ng-container matColumnDef="uplink" id="UplinkColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MBR-Uplink</th>
            <td mat-cell *matCellDef="let row">
                {{row.mbr?.uplink}}
            </td>
        </ng-container>

        <!--Downlink Column-->
        <ng-container matColumnDef="downlink" id="DownlinkColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MBR-Downlink</th>
            <td mat-cell *matCellDef="let row">
                {{row.mbr?.downlink}}
            </td>
        </ng-container>

        <!-- End-Points Column -->
        <ng-container matColumnDef="Endpoint" id="endPointsColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EndPoints</th>
            <td mat-cell *matCellDef="let row">
                <p *ngFor="let ep of row.endpoint">
                    {{ep.name}}
                    {{ep.address}}
                    {{ep['port-start']}}-{{ep['port-end']}}
                    {{ep.protocol}}</p>
            </td>
        </ng-container>

        <!-- Enterprise Column -->
        <ng-container matColumnDef="enterprise" id="EnterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise</th>
            <td mat-cell *matCellDef="let row">
                {{row.enterprise}}
                <mat-icon class="table_icon small_icon" aria-hidden="false" aria-label="Enterprise"
                          color="primary"
                          id="pointerConnectivityService"
                          routerLink="/enterprise/enterprise-edit/{{row.enterprise}}">launch
                </mat-icon>
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row" routerLink="/application/application-edit/{{row.id}}" id="editButton">
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        [disabled]="!opaService.canWrite('/application/application[id=' + row.id + ']')"
                        (click)="delete(row.id)"
                        color="accent"
                        id="deleteApplicationButton">
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Usage Column -->
        <ng-container matColumnDef="usage" id="usageColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usage</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                        id="usageButton"
                        (click)="showUsage(row.id)"
                        color="accent">
                    <mat-icon class="table_icon">assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row class="profile-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator id="applicationPaginator"
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 40]">
    </mat-paginator>
</div>
<aether-show-vcs-usage
    *ngIf="showUsageCard"
    id="showVcsUsageComponent"
    [applicationID]="id"
    (closeShowParentCardEvent)="closeShowParentCard($event)">
</aether-show-vcs-usage>
