/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
 */

// Automatic naming from column name
.mat-column-startsat {
    flex: 0 0 20%;
}
.mat-column-alertname {
    flex: 0 0 20%;
}
.mat-column-id {
    flex: 0 0 10%;
}

.mat-table {
    scroll-behavior: auto;
    overflow: auto;
    display: block;
}
