<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<mat-card class="card mat-elevation-z8" (click)="keepCardOpen(false)">
    <mat-card-header class="header">
        <mat-card-title class="subheading-1 title"
            >Usage in Device group(s) & Application(s)</mat-card-title
        >
    </mat-card-header>
    <mat-card-content class="content">
        <table
            mat-table
            class="usage-table"
            matSort
            aria-label="Elements"
            id="ApplicationDGTable"
        >
            <!-- Parent Column -->
            <ng-container matColumnDef="parent-module" id="ParentColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Parent Module
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ row["parent-module"] }}
                </td>
            </ng-container>

            <!-- Id Column -->
            <ng-container matColumnDef="id" id="idColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="display-name" id="nameColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">
                    {{ row["display-name"] }}
                    <mat-icon
                        *ngIf="row['parent-module'] === 'Application'"
                        class="table_icon small_icon icon-pointer"
                        aria-hidden="false"
                        aria-label="Application"
                        color="primary"
                        id="pointerApplication"
                        routerLink="/application/application-edit/{{ row.id }}"
                        >launch
                    </mat-icon>
                    <mat-icon
                        *ngIf="row['parent-module'] === 'Device Group'"
                        class="table_icon small_icon icon-pointer"
                        aria-hidden="false"
                        aria-label="Device Group"
                        color="primary"
                        id="pointerDeviceGroup"
                        routerLink="/devicegroups/devicegroups-edit/{{
                            row.id
                        }}"
                        >launch
                    </mat-icon>
                </td>
            </ng-container>

            <tr
                mat-header-row
                class="profile-header"
                *matHeaderRowDef="displayColumns"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
    </mat-card-content>
</mat-card>
