/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
 */
.profiles-column {
    width: 25%;
    padding-left: 4px;
}

.imsi-column {
    width: 15%;
    padding-left: 4px;
}
