<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->

<mat-card class="card mat-elevation-z8" (click)="closeCard()" id="closeCard">
    <mat-card-header class="header">
        <mat-card-title>UE {{ueId}} ({{fullImsi}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="performanceMetricsEnabled">
            <iframe *ngIf="generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 1)"
                [src]="generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 1) | safe "
                width="600" height="300" frameborder="0"></iframe>
            <p *ngIf="!generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 1)">
                <mat-icon color="primary">auto_graph</mat-icon>
                Performance chart unavailable
            </p>
        </div>
        <div>
            <iframe *ngIf="generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 2)"
                    [src]="generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 2) | safe "
                    width="600" height="300" frameborder="0"></iframe>
            <p *ngIf="!generateConnectivityPanelUrl(grafanaOrgId, grafanaOrgName, ueId, 1)">
                <mat-icon color="primary">auto_graph</mat-icon>
                Connectivity chart unavailable
            </p>
        </div>
    </mat-card-content>
</mat-card>
