<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Service Policy Profile. ID: {{id}}</mat-card-title>
            <mat-form-field *ngIf="isNew" class="half-width">
                <input matInput formControlName="id" id="inputID">
                <mat-hint>ID</mat-hint>
            </mat-form-field>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description" id="inputDesc">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row" formGroupName="ambr">
                <mat-label class="subscriber-section">AMBR</mat-label>
                <mat-form-field class="field-margin">
                    <input matInput type="number" [matAutocomplete]="auto" formControlName="uplink" id="inputUplink">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of bandwidthOptions | async" [value]="option.megabyte.numerical"
                        id="selectAutoOptionUplink">
                            {{option.megabyte.numerical}}
                            {{option.megabyte.inMb}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Uplink (0..4294967295)</mat-hint>
                </mat-form-field>
                <mat-form-field class="field-margin">
                    <input matInput type="number" [matAutocomplete]="auto" formControlName="downlink" id="inputDownlink">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of bandwidthOptions | async" [value]="option.megabyte.numerical"
                        id="selectAutoOptionDownlink">
                            {{option.megabyte.numerical}}
                            {{option.megabyte.inMb}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint>Downlink (0..4294967295)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="qci" id="inputQCI">
                    <mat-hint>QCI (0-85)</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin">
                    <input matInput type="number" formControlName="arp" id="inputARP">
                    <mat-hint>ARP (0-85)</mat-hint>
                </mat-form-field>
            </div>
            <div formArrayName="rules" class="subscriber-section">
                <mat-hint>RULES</mat-hint>
                <mat-icon class="subscriber-pointer" (click)="showAddComponent = true" id="addExistingServiceRule">add</mat-icon>
                <div *ngFor="let rulesForm of rulesServices.controls; index as i">
                    <mat-form-field class="field-margin half-width">
                        <div [formGroup]="rulesForm" >
                            <input matInput formControlName="rule" readonly>
                            <mat-slide-toggle
                                formControlName="enabled" id="toggleEnabled">Enabled</mat-slide-toggle>
                            <button mat-icon-button
                                    id="deleteExistingServicePolicy"
                                    [disabled]="!opaService.canWrite('/service-policy/service-policy[id=' + id + ']/rules')"
                                    (click)="deleteFromSelect(rulesForm.value['rule'])">
                                <mat-icon class="pad-left subscriber-pointer">delete</mat-icon>
                            </button>
                            <mat-icon class="subscriber-pointer" aria-hidden="false" aria-label="Connectivity Service"
                                      id="pointerServiceRule"
                                      routerLink="/services/servicerule-edit/{{rulesForm.value['rule']}}">launch</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                    id="submitButton"
                    [disabled]="!(policyForm.valid && policyForm.touched && opaService.canWrite('/service-policy/service-policy[id=' + id + ']'))">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
<aether-service-rule-select
    id="serviceRuleSelectComponent"
    *ngIf="showAddComponent && opaService.canWrite('/service-policy/service-policy[id=' + id + ']')"
    [alreadySelected]="serviceRuleExists" (closeEvent)="ruleSelected($event)">
</aether-service-rule-select>
