/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
@use "~@angular/material" as mat;
@include mat.core();

// See https://drive.google.com/file/d/1WndImRYAWIy9EEuq_OWDllpqseq3NZnA/view?usp=sharing
$onf-blue: (
    50: #28ceff,
    100: #20c4f4,
    // Onf palette start
    200: #18b2eb,
    300: #0e9ee1,
    400: #088cd1,
    500: #047bc1,
    // Onf palette middle
    600: #0368ad,
    700: #025499,
    800: #014687,
    900: #003c7f,
    // Onf palette end
    contrast:
        (
            50: #003c7f,
            100: #003c7f,
            200: #003c7f,
            300: #003c7f,
            400: #efefef,
            500: #efefef,
            600: #e0e0e0,
            700: #dfdfdf,
            800: #d0d0d0,
            900: #cfcfcf,
        ),
);

$onf-red: (
    50: #cd181d,
    100: #c4161c,
    200: #bb141a,
    300: #b21219,
    400: #a91018,
    500: #a00e17,
    600: #970c15,
    700: #8e0a14,
    800: #850812,
    900: #7b0511,
    contrast: (
        50: #f0f0f0,
        100: #f0f0f0,
        200: #f0f0f0,
        300: #f0f0f0,
        400: #f0f0f0,
        500: #f0f0f0,
        600: #f0f0f0,
        700: #f0f0f0,
        800: #f0f0f0,
        900: #f0f0f0,
    ),
);

$custom-typography: mat.define-typography-config(
    //$font-family: 'Roboto',
    $input: mat.define-typography-level(inherit, 1.4, inherit)
);

$custom-primary: mat.define-palette($onf-blue, 500);

$custom-accent: mat.define-palette($onf-red, 500);

$custom-warn: mat.define-palette($onf-red, 100);

$custom-theme: mat.define-light-theme(
    $custom-primary,
    $custom-accent,
    $custom-warn
);

@include mat.all-component-themes($custom-theme);
@include mat.core($custom-typography);
