<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<form [formGroup]="csForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Connectivity Service. ID: {{id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="half-width field-margin">
                    <input matInput formControlName="id"
                           placeholder="Please specify an ID"
                           id="inputID">
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="display-name" id="inputDisplayName">
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="description" id="inputDescription">
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="spgwc-endpoint" id="inputSPGWC">
                    <mat-hint>SPGWC Endpoint</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="hss-endpoint" id="inputHSS">
                    <mat-hint>HSS Endpoint</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="pcrf-endpoint" id="inputPCRF">
                    <mat-hint>PCRF Endpoint</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin half-width">
                    <input matInput formControlName="core-5g-endpoint" id="input5G">
                    <mat-hint>5G Core Endpoint</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit"
                    id="submitButton"
                    [disabled]="!(csForm.valid && csForm.value.id && csForm.touched && opaService.canWrite('/connectivity-service/connectivity-service[id=' + id + ']'))">Update</button>
        </mat-card-actions>
    </mat-card>
</form>
