<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<form class="roc-edit-form" [formGroup]="csForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Connectivity Service. ID:
                {{ connectivityServiceId }}</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <div class="row" *ngIf="isNew">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="connectivity-service-id"
                        placeholder="Please specify an ID"
                        title="This field is mandatory."
                        id="inputID"
                        required
                    />
                    <mat-hint>ID</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="display-name"
                        id="inputDisplayName"
                    />
                    <mat-hint>Display Name</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin full-width">
                    <textarea
                        matInput
                        formControlName="description"
                        id="inputDescription"
                    ></textarea>
                    <mat-hint>Description</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="field-margin full-width">
                    <input
                        matInput
                        formControlName="core-5g-endpoint"
                        id="inputCoreEndpoint"
                    />
                    <mat-hint>Core Endpoint</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="accent"
                type="submit"
                id="submitButton"
                [disabled]="
                    !(
                        csForm.valid &&
                        csForm.touched &&
                        opaService.canWrite(
                            '/connectivity-service/connectivity-service[id=' +
                                id +
                                ']'
                        )
                    )
                "
            >
                Update
            </button>
        </mat-card-actions>
    </mat-card>
</form>

<div>
    <button routerLink="/connectivity" mat-raised-button color="primary">
        Back
    </button>
</div>
