<!--
~ SPDX-FileCopyrightText: 2021-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->
<div
    class="card"
    [style]="
        'width:' +
        width +
        'px;height:' +
        height +
        'px;top:' +
        top +
        'px;left:' +
        left +
        'px'
    "
>
    <mat-toolbar class="profile-toolbar" color="primary" id="alertsToolbar">
        <p>Alerts</p>
        <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <mat-table
        [dataSource]="dataObs"
        id="alertsTable"
        [style]="'height:' + (height - 80) + 'px'"
    >
        <ng-container matColumnDef="startsat" id="alertStartTime">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon
                    [color]="
                        row.labels.severity === 'warn' ? 'warn' : 'primary'
                    "
                    >{{
                        row.labels.severity === "warn"
                            ? "warning"
                            : "error_outline"
                    }}</mat-icon
                >
                &nbsp;{{ row.startsAt | date: "short" }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="alertname" id="alertName">
            <mat-header-cell *matHeaderCellDef>Alert</mat-header-cell>
            <mat-cell *matCellDef="let row">{{
                row.labels.alertname
            }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="summary" id="alertSummary">
            <mat-header-cell *matHeaderCellDef>Summary</mat-header-cell>
            <mat-cell
                *matCellDef="let row"
                [title]="row.annotations.description"
            >
                {{ row.annotations.summary }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id" id="alertID">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon
                    title="{{ row.fingerprint }}"
                    class="icon-pointer small_icon"
                    (click)="showPrometheus(row.generatorURL)"
                >
                    launch</mat-icon
                >
            </mat-cell>
        </ng-container>
        <!-- Header and Row Declarations -->
        <mat-header-row
            *matHeaderRowDef="['startsat', 'alertname', 'summary', 'id']"
        ></mat-header-row>
        <mat-row
            *matRowDef="
                let row;
                columns: ['startsat', 'alertname', 'summary', 'id']
            "
            (click)="selectedAlert = row"
        ></mat-row>
    </mat-table>
    <aether-alert-detail
        *ngIf="selectedAlert"
        [alert]="selectedAlert"
        (closeEvent)="selectedAlert = undefined"
    >
    </aether-alert-detail>
</div>
