<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<div>
    <mat-toolbar class="profile-toolbar" color="primary">
        <p>SMALL CELLS</p>
        <span class="toolbar-spacer"></span>
        <button
            mat-raised-button
            color="accent"
            type="submit"
            aria-label="Add small-cell"
            id="addSmallCellButton"
            [disabled]="
                !opaService.canWrite(
                    '/small-cell/small-cell/[enterprise-id= unknownent]/[site-id=unknownsite]/[id=newinstance]'
                )
            "
            routerLink="/small-cell/small-cell-edit/unknownent/unknownsite/newinstance"
        >
            Add
        </button>
    </mat-toolbar>
    <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        id="smallCellTable"
    >
        <!-- Id Column -->
        <ng-container matColumnDef="id" id="idColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (ID)</th>
            <td
                [style]="row['for-delete-style']"
                mat-cell
                *matCellDef="let row"
            >
                <span
                    *ngIf="row['display-name'] !== undefined"
                    [title]="row['small-cell-id']"
                    >{{ row["display-name"] }} <br /><small
                        >({{ row["small-cell-id"] }})</small
                    ></span
                >
                <span *ngIf="row['display-name'] === undefined">{{
                    row["small-cell-id"]
                }}</span>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description" id="descColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td
                [style]="row['for-delete-style']"
                mat-cell
                *matCellDef="let row"
                [title]="row.description"
            >
                {{ row.description | truncateText: 30 }}
            </td>
        </ng-container>

        <!-- Enterprise Name Column -->
        <ng-container matColumnDef="enterprise" id="enterpriseColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Enterprise
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row["enterprise-id"] }}
                <mat-icon
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Site"
                    id="pointerEnterprise"
                    routerLink="/enterprise/enterprise-edit/{{
                        row['enterprise-id']
                    }}"
                    >launch
                </mat-icon>
            </td>
        </ng-container>

        <!-- Site Name Column -->
        <ng-container matColumnDef="site" id="siteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
            <td mat-cell *matCellDef="let row">
                {{ row["site-id"] }}
                <mat-icon
                    class="table_icon small_icon"
                    color="primary"
                    aria-hidden="false"
                    aria-label="Site"
                    id="pointerSite"
                    routerLink="/site/site-edit/{{ row['enterprise-id'] }}/{{
                        row['site-id']
                    }}"
                    >launch
                </mat-icon>
            </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address" id="addressColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td
                mat-cell
                *matCellDef="let row"
                [title]="row.address"
                [class]="row.enable ? '' : 'semitransparent'"
            >
                {{ row.address | truncateText: 30 }}
            </td>
        </ng-container>

        <!-- TAC Column -->
        <ng-container matColumnDef="tac" id="tacColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TAC</th>
            <td
                mat-cell
                *matCellDef="let row"
                [title]="row.tac"
                [class]="row.enable ? '' : 'semitransparent'"
            >
                {{ row.tac | truncateText: 30 }}
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit" id="editColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Edit
            </th>
            <td
                mat-cell
                *matCellDef="let row"
                routerLink="/small-cell/small-cell-edit/{{
                    row['enterprise-id']
                }}/{{ row['site-id'] }}/{{ row['small-cell-id'] }}"
                id="editButton"
            >
                <mat-icon class="table_icon" color="accent">edit</mat-icon>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete" id="deleteColumn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
                Usage/delete
            </th>
            <td mat-cell *matCellDef="let row">
                <button
                    mat-icon-button
                    *ngIf="!row['is-in-use']"
                    id="deleteButton"
                    [disabled]="
                        !opaService.canWrite(
                            '/small-cell/small-cell[id=' + row.id + ']'
                        ) || row['for-delete-style']
                    "
                    (click)="delete(row)"
                    color="accent"
                    id="deleteSmallCellButton"
                >
                    <mat-icon class="table_icon">delete</mat-icon>
                </button>
                <button
                    *ngIf="row['is-in-use']"
                    mat-icon-button
                    id="usageButton"
                    (click)="
                        showUsage(
                            row['small-cell-id'],
                            row['enterprise-id'],
                            row['site-id']
                        )
                    "
                    color="accent"
                >
                    <mat-icon class="table_icon">assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="profile-header"
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        #paginator
        id="smallCellPaginator"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 40]"
    >
    </mat-paginator>
</div>
<aether-show-vcs-usage
    *ngIf="showUsageCard"
    id="showParentModulesComponent"
    [enterpriseID]="selected.enterprise"
    [siteID]="selected.site"
    [smallCellID]="selected.id"
    (closeShowParentCardEvent)="closeShowParentCard()"
>
</aether-show-vcs-usage>
