<!--
~ SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: LicenseRef-ONF-Member-1.0
-->

<mat-card class="card mat-elevation-z8" (click)="closeCard()">
    <mat-card-header class="header">
        <mat-card-title class="subheading-1 title">
            User Profile: {{name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-list>
            <mat-list-item class="field-margin">Email: {{email}}</mat-list-item>
            <mat-list-item class="field-margin">Groups:</mat-list-item>
            <mat-list>
                <mat-list-item *ngFor="let g of groups"
                               class="group-margin">{{g}}</mat-list-item>
            </mat-list>
        </mat-list>
    </mat-card-content>
</mat-card>
